.upload-label {
  background-color: #fafafa;
  padding: 20px 0;
  cursor: pointer;
  .file-type {
    color: #72849a;
  }
  i {
    color: #2f80ed;
    font-size: 32px;
  }
}
.btn-upload {
  padding: 4px 8px;
  border: 1px solid #cccccc;
  cursor: pointer;
}
.card-header {
  border-bottom: 1px solid #EDF2F9;
    margin-bottom: 30px;
  span {
    position: relative;
    color: #2f80ed;
    &::before {
      content: "";
      height: 2px;
      width: 100%;
      background: #2f80ed;
      position: absolute;
      bottom: -8px;
    }
  }
}
