<nz-card>
  <form>
    <div class="header">
      <h5>Video intro</h5>
    </div>
    <nz-form-item>
      <nz-form-label>Tiêu đề video</nz-form-label>
      <nz-form-control>
        <nz-input-group>
          <textarea rows="4" nz-input placeholder="Nhập tiêu đề video"></textarea>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <!-- <nz-form-item>
      <nz-form-label>Upload video</nz-form-label>
      <nz-form-control>
        <nz-input-group>
          <textarea rows="4" nz-input placeholder="Nhập tiêu đề video"></textarea>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item> -->
    <nz-form-item>
      <nz-form-label>Upload video</nz-form-label>
      <nz-form-control>
        <div>
          <app-upload-video></app-upload-video>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>