<nz-card>
  <form [formGroup]="form" nz-form (ngSubmit)="submit()">
    <div class="header">
      <h5>Video intro</h5>
    </div>
    <nz-form-item>
      <nz-form-label>Tiêu đề video</nz-form-label>
      <nz-form-control>
        <nz-input-group>
          <textarea rows="4" formControlName="title" nz-input placeholder="Nhập tiêu đề video"></textarea>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Image poster</nz-form-label>
      <nz-form-control>
        <app-file-upload-control formControlName="image" [fileType]="AssetType.Image"></app-file-upload-control>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Upload video</nz-form-label>
      <nz-form-control>
        <app-upload-video formControlName="video">
        </app-upload-video>
      </nz-form-control>
    </nz-form-item>
    <div class="text-right">
      <button nz-button nzType="default">Quay lại</button>
      <button nz-button nzType="primary">Xác nhận</button>
    </div>
  </form>
</nz-card>