<nz-card>
  <div class="row">
    <div class="col-6">
      <nz-form-item>
        <nz-form-label nzSpan="4" class="text-left">Logo</nz-form-label>
        <nz-form-control>
          <app-file-upload-control></app-file-upload-control>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="4" class="text-left">Chữ ký</nz-form-label>
        <nz-form-control>
          <app-file-upload-control></app-file-upload-control>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="d-flex flex-column">
        <nz-form-label class="text-left">Tên học viên</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input placeholder="Tự động" disabled>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="d-flex flex-column">
        <nz-form-label class="text-left">Tên khóa học</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input placeholder="Tự động" disabled>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="d-flex flex-column">
        <nz-form-label class="text-left">Thời gian cấp chứng chỉ</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input placeholder="Tự động" disabled>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="d-flex flex-column">
        <nz-form-label class="text-left">Loại chứng chỉ</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input placeholder="Tự động" disabled>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="d-flex flex-column">
        <nz-form-label class="text-left">Tên công ty đại diện</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input placeholder="Nhập vào tên công ty đại diện">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="d-flex flex-column">
        <nz-form-label class="text-left">Tên giám đốc</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input placeholder="Nhập vào tên giám đốc">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="d-flex flex-column">
        <nz-form-label class="text-left">Địa điểm cấp chứng chỉ</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input placeholder="Nhập vào địa điểm cấp chứng chỉ">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="col-6">
      <div class="preview">
        <h5>Preview</h5>
        <div>
          
        </div>
      </div>
    </div>
  </div>
</nz-card>