<nz-spin [nzSpinning]="isLoading">
  <nz-card>
    <form nz-form nzLayout="vertical" #vnpayForm="ngForm" (ngSubmit)="update()">
      <div
        *ngIf="unconfig"
        style="font-style: italic; opacity: 0.7; margin-bottom: 15px"
      >
        Bạn chưa cài đặt phương thức thanh toán Vnpay
      </div>
      <nz-form-item>
        <nz-form-label nzRequired>Partner Code</nz-form-label>
        <input
          type="text"
          nz-input
          [(ngModel)]="partnerCode"
          name="partnerCode"
          required
        />
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>Access Key</nz-form-label>
        <input
          type="text"
          nz-input
          [(ngModel)]="accessKey"
          name="accessKey"
          required
        />
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>Secret Key</nz-form-label>
        <input
          type="text"
          nz-input
          [(ngModel)]="secretKey"
          name="secretKey"
          required
        />
      </nz-form-item>
      <div class="text-right">
        <button
          nz-button
          nzType="primary"
          [disabled]="vnpayForm.invalid"
          type="submit"
        >
          Lưu
        </button>
      </div>
    </form>
  </nz-card>

  <nz-collapse>
    <nz-collapse-panel [nzHeader]="header">
      <nz-collapse>
        <nz-collapse-panel nzHeader="Những thông tin trên được lấy ở đâu?">
          <a href="https://developers.momo.vn/v3/vi/docs/payment/onboarding/integration-process" target="_blank">
            Tích hợp kỹ thuật MoMo
          </a>
        </nz-collapse-panel>
      </nz-collapse>
    </nz-collapse-panel>
  </nz-collapse>
  <ng-template #header>
    <span class="text-bold"
      ><i aria-hidden="true" nz-icon nzType="info-circle"></i> Hướng dẫn</span
    >
  </ng-template>
</nz-spin>
