<div class="mx-2">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
      <nz-form-item class="col-6">
        <nz-form-label class="text-left input-space" nzRequired>Tiêu đề</nz-form-label>
        <nz-form-control nzErrorTip="Nhập tiêu đề">
          <input nz-input type="text" formControlName="title" placeholder="Tiêu đề">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="col-6">
        <nz-form-label class="text-left input-space" nzRequired>Số điểm</nz-form-label>
        <nz-form-control [nzErrorTip]="errorPoint">
          <input nz-input type="number" formControlName="point" placeholder="Số điểm">
        </nz-form-control>
        <ng-template #errorPoint>
          <ng-container *ngIf="form.get('point').hasError('required') && form.get('point').value !== 0">
            Nhập số điểm
          </ng-container>
          <ng-container *ngIf="form.get('point').hasError('min')">
            Số điểm phải lớn hơn 1
          </ng-container>
        </ng-template>
      </nz-form-item>
    </div>
    <ng-container formArrayName="questions">
      <nz-collapse nzAccordion>
        <app-question *ngFor="let question of listQuestions;let i=index" [question]="question" [index]="i"
          [deletable]="listQuestions.length > 1" (deleteQuestion)="removeQuestion($event)">
        </app-question>
      </nz-collapse>
    </ng-container>
    <button class="mt-2" nz-button nzType="primary" type="button" color="primary" (click)="addQuestion()">Thêm câu
      hỏi</button>
    <div class="d-flex mt-2 justify-content-end">
      <button nz-button nz-button nzType="primary" nzGhost
        [routerLink]="['/course-management/course/edit',this.courseId]" type="button">Hủy bỏ</button>
      <button nz-button nzType="primary" class="ml-2" type="submit" [disabled]="form.invalid" color="primary">Xác
        nhận</button>
    </div>
  </form>
</div>
