<nz-spin [nzSpinning]="loading">
<form [formGroup]="form">
  <nz-form-item>
    <nz-form-control [nzErrorTip]="nameErrorTpl">
      <input type="text" formControlName="name" nz-input placeholder="Nhập loại khóa học" #input>
    </nz-form-control>
    <ng-template #nameErrorTpl>
      <ng-container *ngIf="control.hasError('required')">
        Vui lòng nhập loại tên khóa học
      </ng-container>
      <ng-container *ngIf="control.hasError('dbConflict')">
        Loại khóa học đã tồn tại trên hệ thống
      </ng-container>
    </ng-template>
  </nz-form-item>
  <div *nzModalFooter>
    <button nz-button nzType="primary" (click)="submit()" [nzLoading]="loading">Xác nhận</button>
  </div>
</form>
</nz-spin>