<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <nz-form-item>
      <nz-form-label nzRequired [nzSpan]="6" class="text-left">
        Tên combo</nz-form-label
      >
      <nz-form-control [nzErrorTip]="'Không được để trống tên combo'">
        <input type="text" nz-input formControlName="name" />
      </nz-form-control>
    </nz-form-item>
    <ng-container
      formArrayName="courseIds"
      *ngFor="let ctrl of formArrayControls?.controls; let index = index"
    >
      <div [formGroupName]="index">
        <nz-form-item>
          <nz-form-label
            [nzRequired]="index !== 2"
            [nzSpan]="6"
            class="text-left"
          >
            Khóa {{ index + 1 }}</nz-form-label
          >
          <nz-form-control [nzErrorTip]="'Không được để trống khóa học'">
            <select-advance
              placeholder="Chọn khóa học"
              [getOptionsFn]="courses$"
              formControlName="courseId"
              [hasNullOption]="true"
              [optionsDisabled]="optionsDisabled"
            >
            </select-advance>
          </nz-form-control>
        </nz-form-item>
      </div>
    </ng-container>
    <!-- <nz-form-item>
      <nz-form-label> Giá gốc</nz-form-label>
      <nz-form-control>
        <input type="text" nz-input formControlName="oldPrice" />
      </nz-form-control>
    </nz-form-item> -->
    <nz-form-item>
      <nz-form-label nzRequired [nzSpan]="6" class="text-left">
        Giá ưu đãi</nz-form-label
      >
      <nz-form-control [nzErrorTip]="'Không được để trống giá ưu đãi'">
        <input-number
          formControlName="price"
          placeholder="Nhập giá ưu đãi"
          class="w-100"
        >
        </input-number>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div class="form-footer text-right">
    <button
      class="mr-4"
      [routerLink]="['/dashboard/home']"
      type="button"
      nz-button
      nzType="primary"
      nzGhost
    >
      Quay lại
    </button>
    <button type="submit" nz-button nzType="primary" [nzLoading]="submiting">
      Lưu lại
    </button>
  </div>
</form>
