<div class="row align-items-center">
  <div class="col-md-5">
    <nz-card class="card-container">
      <h2>Quên mật khẩu?</h2>
      <p class="m-b-40">Nhập email để lấy mật khẩu</p>
      <form nz-form [formGroup]="myForm" nzLayout="vertical" class="reset-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="email">
            Tài khoản
          </nz-form-label>
          <nz-form-control  [nzErrorTip]="'Tên tài khoản không hợp lệ'">
            <nz-input-group [nzPrefix]="prefixUser">
              <input type="text" required nz-input formControlName="email" placeholder="anhdtn@ttc-solutions.com.vn">
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control> 
            <div class="d-flex align-items-center justify-content-end">
              <button nz-button [nzLoading]="loading" class="w-100 login-form-button" [nzType]="'primary'">Tiếp tục</button>
            </div>
          </nz-form-control>
        </nz-form-item>
      </form>
      <ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
    </nz-card>
  </div>
  <div class="offset-md-1 col-md-6 d-none d-md-block">
    <img class="img-fluid" src="assets/images/others/login-2.png" alt="">
  </div>
</div>
