.close-btn {
  position: absolute;
  top: 20%;
  right: 5%;
}

.name {
  font-size: 16px;
  color: rgba(73, 69, 69, 1);
  font-weight: 600;
}

.content {
  font-size: 14px;
  font-weight: 400;
}

.color-blue {
  color: rgba(37, 61, 127, 1);
}
