<nz-modal
  [nzVisible]="isPreview"
  [nzFooter]="null"
  (nzOnCancel)="onCancel()"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  nzWidth="45%"
>
  <ng-template #modalTitle> Xem trước giao diện người dùng </ng-template>
  <ng-template #modalContent>
    <div class="row">
      <div
        class="col-6 col-md-4"
        style="padding-top: 5px; padding-bottom: 5px"
        *ngFor="let bank of payments; index as i"
      >
        <img
          class="bank-image"
          [class.active]="activeBankIndex === i"
          [src]="activeBankIndex === i ? bank.imageActive : bank.image"
          (click)="activateBankView(i)"
          alt=""
        />
      </div>
    </div>

    <div class="m-t-20">
      <div class="bank-info-container">
        <span>Tên ngân hàng</span>
        <span class="text-bold">{{ payments[activeBankIndex].bankName }}</span>
      </div>
      <div class="bank-info-container">
        <span>Số tài khoản</span>
        <span class="text-bold">{{
          payments[activeBankIndex].accountNumber
        }}</span>
      </div>
      <div class="bank-info-container">
        <span>Tên chủ tài khoản</span>
        <span class="text-bold">
          {{ payments[activeBankIndex].accountName }}
        </span>
      </div>
      <div class="bank-info-container">
        <span>Chi nhánh</span>
        <span class="text-bold"> {{ payments[activeBankIndex].branch }} </span>
      </div>
    </div>
  </ng-template>
</nz-modal>
