<nz-card>
  <nz-spin [nzSpinning]="isLoading">
    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
      nz-form
      [nzLayout]="'vertical'"
    >
      <div class="row">
        <nz-form-item class="col-md-8">
          <nz-form-label nzRequired>Chọn người nhận</nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng chọn người nhận'">
            <app-multiple-selection
              #usersSelection
              [maxMultipleCount]="maxTag"
              [getOptionsFn]="user$"
              formControlName="receivers"
              nzAllowClear
              placeholder="Chọn người nhận"
              [options]="options"
            >
            </app-multiple-selection>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="col-md-4">
          <nz-form-label> Tìm theo giảng viên </nz-form-label>
          <nz-form-control>
            <select-advance
              [getOptionsFn]="teachers$"
              formControlName="teacherId"
              placeholder="Chọn giảng viên"
            ></select-advance>
          </nz-form-control>
        </nz-form-item>
      </div>

      <nz-form-item>
        <nz-form-label nzRequired>Tiêu đề thông báo</nz-form-label>
        <nz-form-control [nzErrorTip]="titleErr">
          <input
            nz-input
            formControlName="message"
            placeholder="Nhập tiêu đề thông báo"
          />
        </nz-form-control>
        <ng-template #titleErr>
          <ng-container *ngIf="form.get('message').hasError('required')">
            Vui lòng nhập tiêu đề thông báo
          </ng-container>
          <ng-container *ngIf="form.get('message').hasError('maxLength')">
            Tiêu đề thông báo không được quá 200 kí tự
          </ng-container>
        </ng-template>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>Nội dung thông báo</nz-form-label>
        <nz-form-control [nzErrorTip]="'Vui lòng nhập nội dung thông báo'">
          <app-ck-editor
            formControlName="content"
            placeholder="Nhập vào nội dung thông báo"
          ></app-ck-editor>
        </nz-form-control>
      </nz-form-item>
      <div class="text-right">
        <button
          nz-button
          nzType="primary"
          type="submit"
          [nzLoading]="isLoading"
        >
          Gửi
        </button>
      </div>
    </form>
  </nz-spin>
</nz-card>
