<nz-spin [nzSpinning]="isLoading">
<form [formGroup]="form" nz-form (ngSubmit)="submit()">
  <nz-form-item>
    <nz-form-label style="min-width:150px" nzRequired class="text-left">Tiêu đề bài học</nz-form-label>
    <nz-form-control [nzErrorTip]="'Vui lòng nhập tiêu đề bài học'">
      <textarea nz-input rows="3" formControlName="title" placeholder="Nhập tiêu đề bài học"></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label style="min-width:150px" class="text-left" nzRequired>Video bài giảng</nz-form-label>
    <nz-form-control [nzErrorTip]="'Vui lòng tải lên video bài giảng'">
      <app-upload-vimeo-control formControlName="video">
      </app-upload-vimeo-control>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label style="min-width:150px" class="text-left attachments-label">
      <span>Tài liệu đính kèm:</span>
      <div class="text-muted">(Định dạng pdf)</div>
    </nz-form-label>
    <nz-form-control>
      <app-files-upload-control [fileType]="AssetType.File" formControlName="attachments"></app-files-upload-control>
    </nz-form-control>
  </nz-form-item>
  <div class="d-flex">
    <button nz-button nzType="primary" class=" ml-auto mr-3" nzGhost
      [routerLink]="['/course-management/course/edit',this.courseId]">Hủy
      bỏ</button>
    <button [disabled]="form.invalid" nz-button nzType="primary" [nzLoading]="isLoading">Xác nhận</button>
  </div>
</form>
</nz-spin>