<div class="common-layout {{ 'is-' + selectedHeaderColor }}" [ngClass]="{
    'is-folded': isFolded,
    'is-side-nav-dark': isSideNavDark,
    'is-expand': isExpand
  }">
  <app-header></app-header>
  <app-sidenav></app-sidenav>
  <div class="page-container">
    <div class="main-content">
      <div class="main-content-header" *ngIf="contentHeaderDisplay !== 'none'">
        <h4 class="page-title" *ngIf="breadcrumbs$ | async; let breadcrumbs">
          <nz-breadcrumb nzSeparator=">" class="breadcrumb-items" [nzAutoGenerate]="true" [nzRouteLabel]="'title'">
          </nz-breadcrumb>
        </h4>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>