<nz-card>
  <div class="row m-b-30">
    <div class="col-lg-8">
      <form [formGroup]="form" nz-form>
        <div class="d-md-flex">
          <div class="m-b-10 m-r-20">
            <nz-input-group style="min-width: 275px;" [nzPrefix]="prefixTemplate">
              <input type="text" nz-input placeholder="Tìm kiếm theo họ tên hoặc email" formControlName="q">
            </nz-input-group>
            <ng-template #prefixTemplate>
              <i nz-icon nzType="search" class="opacity-05"></i>
            </ng-template>
          </div>
          <div class="m-b-10 m-r-20 d-flex align-items-center">
            <nz-select style="min-width: 220px;" class="w-100" nzPlaceHolder="Chọn trạng thái" formControlName="status">
              <nz-option nzLabel="All" nzValue=""></nz-option>
              <nz-option [nzLabel]="UserStatus.Active" [nzValue]="UserStatus.Active"></nz-option>
              <nz-option [nzLabel]="UserStatus.InActive" [nzValue]="UserStatus.InActive"></nz-option>
            </nz-select>
          </div>
        </div>
      </form>
    </div>
  </div>
  <nz-table [nzShowTotal]="totalTemplate" [nzNoResult]="empty" #productsListTable [nzData]="items"
    [nzTotal]="meta?.totalItems" [nzFrontPagination]="false" [nzPageSize]="quantity" [nzPageIndex]="page"
    [nzLoading]="isloading" nzTableLayout="fixed" (nzPageIndexChange)="onPageChanged($event)">
    <thead>
      <tr>
        <th scope="col" [nzWidth]="'70px'">ID</th>
        <th scope="col">Người dùng</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Khóa học đã mua</th>
        <th scope="col">Tổng tiến độ</th>
        <th scope="col">Tích điểm</th>
        <th scope="col" [nzWidth]="'120px'">Trạng thái</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items; let i=index">
        <td>#{{item.index}}</td>
        <td>
          <a [routerLink]="item.id">
            <div class="d-flex align-items-center">
              <nz-avatar nzShape="square" [nzSize]="28" nzIcon="picture" [nzSrc]="item.avatar"></nz-avatar>
              <span class="m-l-10 truncate-1">{{ item.fullName }}</span>
            </div>
          </a>
        </td>
        <td nzEllipsis>{{ item.email }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ '1' }}</td>
        <td>{{ '100%' }}</td>
        <td>{{ 100 }}</td>
        <td>
          <nz-badge [nzColor]="item.status | option:studentStatusOptions:'color'"
            [nzText]="item.status | option:studentStatusOptions"></nz-badge>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<ng-template #empty>
  <nz-empty [nzNotFoundContent]="'Không có dữ liệu'"></nz-empty>
</ng-template>
<ng-template #totalTemplate let-total> Total: {{ total }} </ng-template>