<div>
  <div *ngIf="isUploadLink === VideoType.Youtube">
    <nz-form-control>
      <input nz-input class="mb-4" [(ngModel)]="linkYoutubeInput" (keyup)="changeLink($event.target.value)"
        placeholder="Nhập link video giới thiệu">
    </nz-form-control>
    <iframe *ngIf="displayPreviewYT" width="560" height="315" [src]="url1| safeHtml" title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
  <div *ngIf="isUploadLink === VideoType.Vimeo">
    <label *ngIf="!displayPreview" [for]="'videoIntro'"><a nz-button nzType="primary" class="w-25 mb-4">Upload</a></label>
    <input id="videoIntro" class="d-none" (change)="uploadVideo($event.target.files[0])" #inputUpload type="file">
    <div *ngIf="displayPreview" class="video-player" style="height: 315px; width: 560px;">
      <i nz-icon nzType="close-circle" nzTheme="fill" (click)="removeVideo()"></i>
      <video width="560" height="315" controls #video autoplay muted>
        <source [src]="url" type="video/mp4">
        <track kind="subtitles">
      </video>
    </div>
  </div>
</div>