<nz-card class="w-100">
  <form [formGroup]="form">
    <div class="pb-3">{{ courseName }}</div>
    <select-advance [nzAllowClear]="false" [width]="'220px'" class="select-advance" placeholder="Chọn khóa học"
      [getOptionsFn]="lesson$" formControlName="lessonId" (ngModelChange)="changeLesson($event)"></select-advance>
    <nz-divider></nz-divider>
    <nz-form-item style="max-width: 300px;">
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixTemplate">
          <input type="text" nz-input formControlName="q" placeholder="Tìm kiếm theo từ khóa">
        </nz-input-group>
        <ng-template #prefixTemplate>
          <i nz-icon nzType="search" class="opacity-05"></i>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </form>
  <ng-container *ngFor="let item of this.data">
    <app-single-comment type="Comment" [search]="isSearch" (deleteData)="getList()" [data]="item"></app-single-comment>
  </ng-container>
  <div class="text-right">
    <nz-pagination [nzShowTotal]="totalTemplate" [nzPageIndex]="meta?.currentPage" [nzTotal]="meta?.totalItems"
      (nzPageIndexChange)="changePage($event)" [nzPageSize]="pagination.limit"></nz-pagination>
  </div>

</nz-card>
<ng-template #totalTemplate let-total> Tổng cộng: {{ meta?.totalItems }} </ng-template>
