<nz-card class="w-100 card-wrap p-4">
  <form [formGroup]="form" class="d-flex" >
    <div class="col-5">
      <nz-card class="w-100 text-footer color-1">
        <div class="w-100 p-4 border-bottom">
          <h6>Hình ảnh minh họa</h6>
          <app-pictures-wall-upload [maxLength]="15" [maxSize]="5000000" formControlName="images"></app-pictures-wall-upload>
        </div>
        <div class="p-4">
          Size tối đa mỗi tấm ảnh là 5MB<br/>
          Số lượng tối đa là 15 tấm ảnh
        </div>
      </nz-card>
    </div>

    <div class="col-7">
      <nz-card>
        <div class="p-4 border-bottom">
          <h5>Câu chuyện về doanh nghiệp</h5>
          <div class="text-content w-100 ">
            <textarea rows="12" class="w-100 border-0" style="resize: none;" formControlName="content"></textarea>
          </div>
        </div>
        <div class="text-footer color-85 p-4">
          Câu chuyện là phần tự truyện ngắn nói về quá trình phát triển của doanh nghiệp, hoặc nói về các đặc điểm nổi bật của doanh nghiệp.
        </div>
      </nz-card>
    </div>
  </form>
</nz-card>
