<form [formGroup]="form">
  <div role="tab" [attr.aria-expanded]="nzActive" class="ant-collapse-header px-3 align-items-center"
    (click)="clickHeader()">
    <div class="d-flex justify-content-between py-3">
      <h5 class="title-question mb-0">Câu hỏi {{ index + 1 }}</h5>
      <div (confirmed)="deleteQuestion.emit(index)" [confirmation]="'Bạn chắc chắn muốn xóa câu hỏi này không?'"
        *ngIf="deletable" class="text-right" style="cursor: pointer;">
        <i style="font-size: 20px;" nz-icon nzType="close" nzTheme="outline"></i>
      </div>
    </div>
  </div>
  <div class="ant-collapse-content ng-trigger ng-trigger-collapseMotion" [class.ant-collapse-content-active]="nzActive"
    [@.disabled]="noAnimation?.nzNoAnimation" [@collapseMotion]="nzActive ? 'expanded' : 'hidden'">
    <div class="ant-collapse-content-box p-3 bg-content">
      <nz-radio-group class="d-flex justify-content-end" (ngModelChange)="updateTypeQuestion($event)"
        formControlName="type">
        <label nz-radio nzValue="Single">Câu hỏi 1 lựa chọn</label>
        <label nz-radio nzValue="Multiple">Câu hỏi nhiều lựa chọn</label>
      </nz-radio-group>
      <nz-form-item class="col-12 mt-3 px-0">
        <nz-form-label class="text-left input-space" nzRequired>Nội dung câu hỏi</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập nội dung câu hỏi">
          <textarea style="resize: none;" nz-input rows="3" formControlName="question"
            placeholder="Nội dung câu hỏi"></textarea>
        </nz-form-control>
      </nz-form-item>
      <ng-container formArrayName="answers">
        <div class="d-flex answers">
          <div class="title-input" style="width: 120px">
            <span class="asterisks">*</span> Đáp án đúng
          </div>
          <div class="title-input 5">
            <span class="asterisks">*</span> Nội dung đáp án
          </div>
        </div>
        <nz-radio-group *ngIf="form.get('type').value === 'Single'" class="d-flex flex-column"
          [(ngModel)]="correctAnswer" [ngModelOptions]="{standalone: true}" (ngModelChange)="change($event)">
          <ng-container [formGroupName]="i" *ngFor="let item of answers; let i=index">
            <div class="d-flex align-items-center mt-2">
              <div style="width: 120px">
                <label nz-radio [nzDisabled]="!answerControlArray.value[i]?.answer?.trim()" [nzValue]="i"
                  class="d-flex justify-content-center"></label>
              </div>
              <nz-form-control>
                <textarea style="resize: none;" nz-input rows="3" formControlName="answer"
                  placeholder="Nội dung câu trả lời"></textarea>
              </nz-form-control>
            </div>
          </ng-container>
        </nz-radio-group>
        <nz-checkbox-wrapper *ngIf="form.get('type').value === 'Multiple'" class="d-flex flex-column">
          <ng-container [formGroupName]="i" *ngFor="let item of answers; let i=index">
            <div class="d-flex align-items-center mt-2">
              <div style="width: 120px">
                <label formControlName="isCorrect" [nzDisabled]="!answerControlArray.value[i]?.answer?.trim()"
                  nz-checkbox [nzValue]="i" class="d-flex justify-content-center"></label>
              </div>
              <nz-form-control nzErrorTip="Nhập nội dung câu trả lời">
                <textarea style="resize: none;" nz-input rows="3" formControlName="answer"
                  placeholder="Nội dung câu trả lời"></textarea>
              </nz-form-control>
            </div>
          </ng-container>
        </nz-checkbox-wrapper>
      </ng-container>
      <div *ngIf="form.get('answers')?.invalid && form.get('answers')?.dirty" class="error mt-3">Phải có ít nhất 2 câu
        trả lời và 1 câu trả lời đúng
      </div>
      <div class="d-flex justify-content-end mt-2">
        <button nzType="primary" [disabled]="answers?.length <= 2" nz-button type="button" nzGhost
          (click)="removeAnswer()">Xóa đáp án</button>
        <button class="ml-2" nzType="primary" [disabled]="answers?.length >= 4" nz-button type="button"
          (click)="addAnswer()">Thêm đáp án</button>

      </div>
    </div>
  </div>
</form>
