<div role="tab" [attr.aria-expanded]="nzActive" class="ant-collapse-header px-3 align-items-center"
  (click)="clickHeader()">
  <ng-container *ngIf="isEdit;else stepName;">
    <div class="d-flex align-items-center">
      <input class="step-name" type="text" nz-input [(ngModel)]="data.title">
      <span class="submit ml-3" (click)="editLesson($event)">
        <i nz-icon nzType="check" style="font-size: 19px;" nzTheme="outline"></i>
      </span>
    </div>
  </ng-container>
  <ng-template #stepName>
    <div class="step-name">{{data?.title}}</div>
    <div class="common-action">
      <span>
        <i nz-icon nzType="plus" nzTheme="outline" class="mr-4" (click)="addUnit($event)"></i>
        <i nz-icon nzType="edit" nzTheme="outline" class="mr-4" (click)="editLesson($event)"></i>
        <i nz-icon nzType="close-circle" nzTheme="outline" (click)="deleteStep($event)"></i>
      </span>
    </div>
  </ng-template>
</div>
<div class="ant-collapse-content ng-trigger ng-trigger-collapseMotion" [class.ant-collapse-content-active]="nzActive"
  [@.disabled]="noAnimation?.nzNoAnimation" [@collapseMotion]="nzActive ? 'expanded' : 'hidden'">
  <div class="ant-collapse-content-box p-0">
    <div *ngFor="let item of data?.unitsAndTests" class="activity">
      <i nz-icon nzType="youtube" nzTheme="fill"></i>
      <span>{{item?.title}}</span>
      <div class="common-action">
        <span>
          <i nz-icon nzType="edit" nzTheme="outline" class="mr-4" (click)="editUnit($event)"></i>
          <i nz-icon nzType="close-circle" nzTheme="outline" (click)="deleteUnit($event)"></i>
        </span>
      </div>
    </div>
  </div>
</div>