<div class="clearfix">
  <nz-upload [nzAction]="upload" nzListType="picture-card" [(nzFileList)]="fileList"
    [nzShowButton]="fileList?.length < maxLength" [nzPreview]="handlePreview" (nzChange)="change($event)"
    [nzBeforeUpload]="beforeUpload" [nzRemove]="remove">
    <div>
      <i  aria-hidden="true"nz-icon nzType="plus"></i>
      <div style="margin-top: 8px">Upload</div>
    </div>
  </nz-upload>
  <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
    (nzOnCancel)="previewVisible = false">
    <ng-template #modalContent>
      <img [src]="previewImage" [ngStyle]="{ width: '100%' }" alt="image" />
    </ng-template>
  </nz-modal>
</div>
