<form [formGroup]="form">
  <nz-card nzTitle="Thông tin cơ bản">
    <app-file-upload-control [maxSize]="5000000" [fileType]="assetType.Image" [customLabel]="true"
      formControlName="photo">
      <div class="media mb-3">
        <div class="image-cropper">
          <label [for]="'fileUpload'">
            <div class="avatar">
              <img class="upload" [src]="photoUrl || form.controls.photo.value" alt="image upload"
                *ngIf="form.controls.photo.value">
              <div class="upload" *ngIf="!form.controls.photo.value">+upload</div>
            </div>
          </label>
        </div>
        <div class="m-l-20 m-r-20">
          <nz-form-label nzRequired class="label-avatar">Chọn ảnh đại diện cho khoá học</nz-form-label>
          <p class="opacity-07 font-size-12 m-b-0">
            Kích thước đề xuất: 120x120 <br>
            Max file size: 5MB
          </p>
        </div>
      </div>
    </app-file-upload-control>

    <nz-form-item class="row">
      <nz-form-label class="text-left input-space" nzRequired>Video giới thiệu</nz-form-label>
      <nz-radio-group nzAutoFocus [(ngModel)]="isUploadLink" [ngModelOptions]="{standalone: true}"
        class="d-flex align-items-center row">
        <nz-radio-button nz-radio [nzValue]="true">
          Nhập link youtube
        </nz-radio-button>
        <nz-radio-button nz-radio [nzValue]="false">
          Tải lên file video
        </nz-radio-button>
      </nz-radio-group>
    </nz-form-item>

    <nz-form-item class="row">
      <label class="text-left input-space"></label>
      <nz-form-control nzErrorTip="Nhập link giới thiệu">
        <div class="d-flex justify-content-between">
          <app-upload-video-intro class="w-100" formControlName="videoIntro" [isUploadLink]="isUploadLink">
          </app-upload-video-intro>
        </div>
      </nz-form-control>
    </nz-form-item>

    <div class="d-flex justify-content-between row">
      <nz-form-item class="col-6">
        <nz-form-label class="text-left input-space" nzRequired>Tên khóa học</nz-form-label>
        <nz-form-control nzErrorTip="Nhập tên khóa học">
          <input nz-input formControlName="name" placeholder="Nhập tên khóa học">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="col-6">
        <nz-form-label class="text-left input-space" nzRequired>Chọn giảng viên</nz-form-label>
        <nz-form-control nzErrorTip="Chọn giảng viên cho khóa học">
          <select-advance [getOptionsFn]="teachers" formControlName="userId" placeholder="Chọn giảng viên cho khóa học">
          </select-advance>
        </nz-form-control>
      </nz-form-item>
    </div>
    <nz-form-item>
      <nz-form-label class="text-left input-space" nzRequired>Loại khóa học</nz-form-label>
      <nz-form-control nzErrorTip="Chọn loại khóa học">
        <select-advance [getOptionsFn]="courseTypes" formControlName="typeId" placeholder="Chọn loại cho khóa học">
        </select-advance>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label class="text-left input-space" nzRequired>Mô tả</nz-form-label>
      <nz-form-control nzErrorTip="Nhập mô tả khóa học">
        <textarea style="resize: no;" nz-input rows="3" formControlName="description"
          placeholder="Nhập mô tả khóa học"></textarea>
      </nz-form-control>
    </nz-form-item>
    <div class="d-flex justify-content-between row">
      <nz-form-item class="col-6">
        <nz-form-label class="text-left input-space" nzRequired>Giá cho học viên</nz-form-label>
        <nz-form-control nzErrorTip="Nhập giá cho học viên">
          <input type="number" nz-input formControlName="studentPrice" placeholder="Giá cho học viên">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="col-6">
        <nz-form-label class="text-left input-space" nzRequired>Giá cho đối tác</nz-form-label>
        <nz-form-control nzErrorTip="Nhập giá cho đối tác">
          <input nz-input type="number" formControlName="partnerPrice" placeholder="Nhập Giá cho đối tác">
        </nz-form-control>
      </nz-form-item>
    </div>
  </nz-card>
  <div class="row">
    <div class="col-6">
      <div class="card-body p-0">
        <div class="title px-3 py-2">
          <h5 class="mb-0">Chương học</h5>
          <span class="add-step" (click)="addStep()"><i nz-icon nzType="plus" nzTheme="outline"></i></span>
        </div>
        <div class="steps p-3" *ngIf="steps?.length">
          <app-learning-path [steps]="steps"></app-learning-path>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card-body">
        bbb
      </div>
      <div class="card-body">
        <div class="title">
          <h5 class="mb-0">Đánh giá học viên</h5>
          <span (click)="addFeedback()"><i nz-icon nzType="plus" nzTheme="outline"></i></span>
        </div>
      </div>
      <div class="card-body">
        bbb
      </div>
    </div>
  </div>
  <div class="w-100 d-flex justify-content-center">
    <button nz-button [nzType]="'primary'">Tạo mới</button>
  </div>
</form>