<nz-card nzTitle="Bước 1: Thiết lập thông tin cơ bản">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <nz-form-item class="row">
      <nz-form-control nzErrorTip="File phải là file ảnh và nhỏ hơn 5MB">
        <app-image-cropper-control formControlName="photo" [height]="750" [width]="1440"></app-image-cropper-control>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="row">
      <nz-form-label class="text-left input-space" nzRequired>Video giới thiệu</nz-form-label>
      <nz-radio-group nzAutoFocus class="d-flex align-items-center row" formControlName="videoIntroType">
        <nz-radio-button nz-radio [nzValue]="VideoType.Youtube">
          Nhập link youtube
        </nz-radio-button>
        <nz-radio-button nz-radio [nzValue]="VideoType.Vimeo">
          Tải lên file video
        </nz-radio-button>
      </nz-radio-group>
    </nz-form-item>

    <nz-form-item class="row">
      <label class="text-left input-space"></label>
      <nz-form-control nzErrorTip="Vui lòng upload hoặc nhập link video giới thiệu">
        <div class="d-flex justify-content-between">
          <app-upload-video-intro class="w-100" formControlName="videoIntro" [isUploadLink]="form.value.videoIntroType">
          </app-upload-video-intro>
        </div>
      </nz-form-control>
    </nz-form-item>

    <div class="d-flex justify-content-between row">
      <nz-form-item class="col-6">
        <nz-form-label class="text-left input-space" nzRequired>Tên khóa học</nz-form-label>
        <nz-form-control nzErrorTip="Nhập tên khóa học">
          <input nz-input formControlName="name" placeholder="Nhập tên khóa học">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="col-6">
        <nz-form-label class="text-left input-space" nzRequired>Chọn giảng viên</nz-form-label>
        <nz-form-control nzErrorTip="Chọn giảng viên cho khóa học">
          <select-advance [getOptionsFn]="teachers" formControlName="userId" placeholder="Chọn giảng viên cho khóa học">
          </select-advance>
        </nz-form-control>
      </nz-form-item>
    </div>

    <nz-form-item>
      <nz-form-label class="text-left input-space" nzRequired>Loại khóa học</nz-form-label>
      <nz-form-control nzErrorTip="Chọn loại khóa học">
        <select-advance [getOptionsFn]="courseTypes" formControlName="typeId" placeholder="Chọn loại cho khóa học">
        </select-advance>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label class="text-left input-space" nzRequired>Mô tả</nz-form-label>
      <nz-form-control nzErrorTip="Nhập mô tả khóa học">
        <textarea style="resize: no;" nz-input rows="3" formControlName="description"
          placeholder="Nhập mô tả khóa học"></textarea>
      </nz-form-control>
    </nz-form-item>

    <div class="d-flex justify-content-between row">
      <nz-form-item class="col-6">
        <nz-form-label class="text-left input-space" nzRequired>Giá cho học viên</nz-form-label>
        <nz-form-control nzErrorTip="Nhập giá cho học viên">
          <input-number formControlName="studentPrice" placeholder="Nhập giá cho học viên" class="w-100"></input-number>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="col-6">
        <nz-form-label class="text-left input-space" nzRequired>Giá cho đối tác</nz-form-label>
        <nz-form-control nzErrorTip="Nhập giá cho đối tác">
          <input-number formControlName="partnerPrice" placeholder="Nhập giá cho đối tác" class="w-100"></input-number>
        </nz-form-control>
      </nz-form-item>
    </div>

    <nz-form-item>
      <nz-form-label class="text-left input-space" nzRequired>Kỹ năng</nz-form-label>
      <nz-form-control nzErrorTip="Chọn kỹ năng đạt được cho khóa học">
        <app-multiple-selection [maxMultipleCount]="4" [getOptionsFn]="skills" formControlName="skills"
          placeholder="Chọn kỹ năng đạt được">
        </app-multiple-selection>
      </nz-form-control>
    </nz-form-item>

    <div class="w-100 d-flex justify-content-end">
      <button nz-button [nzType]="'primary'" type="submit" [nzLoading]="isLoading">Lưu dữ liệu</button>
    </div>
  </form>
</nz-card>
<nz-card nzTitle="Bước 2: Thiết lập nội dung khoá học" style="pointer-events: none;opacity: 0.5;">
  <div class="row">
    <div class="col-6">
      <div class="card-body p-0">
        <app-learning-path></app-learning-path>
      </div>
    </div>
    <div class="col-6">
      <div class="card-body">
        <div class="title">
          <h5 class="mb-0">Đánh giá học viên</h5>
          <span><i nz-icon nzType="plus" nzTheme="outline"></i></span>
        </div>
      </div>
      <div class="card-body">
        <div class="title">
          <h5 class="mb-0">Cấp chứng chỉ</h5>
          <span><i nz-icon nzType="plus" nzTheme="outline"></i></span>
        </div>
      </div>
    </div>
  </div>
</nz-card>
<div class="text-right">
  <button disabled nz-button nzType="primary">Công khai khóa học</button>
</div>
