<nz-card>
	<nz-spin [nzSpinning]="submiting">
		<div class="text-right mb-3">
			<nz-switch [ngModel]="isVisible"
								 [nzCheckedChildren]="checkedTemplate"
								 [nzUnCheckedChildren]="unCheckedTemplate"
								 (ngModelChange)="visible($event)"></nz-switch>
			<ng-template #checkedTemplate><i nz-icon
					 nzType="check"></i></ng-template>
			<ng-template #unCheckedTemplate><i nz-icon
					 nzType="close"></i></ng-template>
		</div>
		<form [formGroup]="form"
					nz-form>
			<div class="card-header">
				<nz-form-item>
					<nz-form-label class="text-left input-space"
												 nzRequired>
						Avatar
					</nz-form-label>
					<nz-form-control>
						<app-file-upload-control formControlName="coverAvatar"
																		 [fileType]="assetType.Image"
																		 [maxSize]="5000000">
						</app-file-upload-control>
					</nz-form-control>
				</nz-form-item>
			</div>
			<div class="underline"></div>
			<nz-table [nzTemplateMode]="true"
								class="mb-4">
				<thead>
					<tr>
						<th scope="col"
								nzWidth="5%">ID</th>
						<th scope="col"
								nzWidth="30%">Câu hỏi</th>
						<th scope="col">Câu trả lời</th>
					</tr>
				</thead>
				<tbody>
					<ng-container formArrayName="items"
												*ngFor="let ctrl of itemsControlArray.controls; let index = index">
						<tr [formGroupName]="index">
							<td>#{{ index+1 }}</td>
							<td>
								<nz-form-control [nzErrorTip]="'Câu hỏi phải chứa từ 10 đến 300 ký tự'">
									<input nz-input
												 formControlName="question"
												 placeholder="Nhập câu hỏi" />
								</nz-form-control>
								<ng-template #questionTemp>
									<span class="editable truncate-3">{{ ctrl.value.question }}</span>
								</ng-template>
							</td>
							<td>
								<nz-form-control [nzErrorTip]="'Câu trả lời phải chứa từ 10 đến 600 ký tự'">
									<textarea nz-input
														formControlName="answer"
														[nzAutosize]="{ minRows: 1, maxRows: 3 }"
														placeholder="Nhập câu trả lời"></textarea>
								</nz-form-control>
								<ng-template #answerTemp>
									<span class="editable truncate-3">{{ctrl.value.answer}}</span>
								</ng-template>
							</td>
						</tr>
					</ng-container>
				</tbody>
			</nz-table>
			<div class="text-right">
				<button type="submit"
								nz-button
								nzType="primary"
								[nzLoading]="submiting">
					Lưu lại
				</button>
				<button class="ml-4"
								[routerLink]="['/dashboard/home']"
								type="button"
								nz-button
								nzType="primary"
								nzGhost>
					Quay lại
				</button>
			</div>
		</form>
	</nz-spin>
</nz-card>