<div class="upload-area">
  <ng-container [ngSwitch]="status">
    <ng-container *ngSwitchCase="UploaderStatus.NotSelected">
      <label class="upload-label d-flex flex-column align-items-center justify-content-center" for="fileInput">
        <i nz-icon nzType="youtube" nzTheme="fill"></i>
        <span class="mt-1 text-dark" translate>Nhấn vào đây và chọn video để upload</span>
        <span class="file-type">Định dạng file hỗ trợ .mp4. Tên file không chứa các ký tự đặc biệt</span>
      </label>
    </ng-container>
    <ng-container *ngSwitchCase="UploaderStatus.InProgress">
      <label class="upload-label d-flex flex-column align-items-center justify-content-center">
        <nz-progress style="width:100%" [nzPercent]="process"></nz-progress>
      </label>
    </ng-container>
    <ng-container *ngSwitchCase="UploaderStatus.Selected">
      <div class="video-player" style="height: 350;">
        <i nz-icon nzType="close-circle" nzTheme="fill" (confirmed)="removeVideo()" [confirmation]="'Bạn có chắc chắn muốn xóa video giới thiệu này không?'"></i>
        <video height="350" controls #video autoplay muted crossorigin>
          <source [src]="'https://vimeo.com/548711562'" type="video/mp4">
          <track kind="subtitles">
        </video>
      </div>
    </ng-container>
  </ng-container>
</div>
<input #video id="fileInput" type="file" name="file" class="d-none" (change)="onFileChanged($event)" accept="video/*">