<div class="upload-area">
  <ng-container *ngIf="status === UploaderStatus.NotSelected">
    <label class="upload-label d-flex flex-column align-items-center justify-content-center" for="fileInput">
      <i nz-icon nzType="youtube" nzTheme="fill"></i>
      <span class="mt-1 text-dark" translate>Nhấn hoặc kéo thả video vào vùng này để upload</span>
      <span class="file-type">Định dạng file hỗ trợ .mp4. Tên file không chứa các ký tự đặc biệt</span>
    </label>
  </ng-container>
</div>
<input id="fileInput" type="file" name="file" class="d-none" (change)="onFileChanged($event)" accept="video/*">