.send_code {
  display: flex;
  justify-content: flex-end;
  position: relative;
  & a {
   color: inherit;
   text-decoration: underline;
   position: absolute;
   top: .5rem;
   right: .5rem;
  }
}
