<div class="row align-items-center">
  <div class="col-md-5">
    <nz-card class="card-container">
      <h2>Thiết lập lại mật khẩu</h2>
      <p class="m-b-40">Tạo mật khẩu mới cho tài khoản</p>
      <p class="send_code"><a (click)="resendOtp()">Gửi lại mã xác nhận</a></p>
      <form nz-form [formGroup]="myForm" nzLayout="vertical" class="reset-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="code">
            Mã xác nhận
          </nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng nhập mã xác nhận'">
            <input type="text" nz-input formControlName="code" placeholder="Nhập mã xác nhận" required>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired nzFor="password">
            Mật khẩu mới
          </nz-form-label>
          <nz-form-control [nzErrorTip]="errorPasswordTpl">
            <nz-input-group [nzPrefix]="prefixLock" [nzSuffix]="suffixPassword">
              <input [type]="isPasswordVisible ? 'text' : 'password'" nz-input formControlName="password"
                placeholder="Nhập mật khẩu" required>
            </nz-input-group>
            <ng-template #errorPasswordTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                Vui lòng nhập mật khẩu
              </ng-container>
              <ng-container *ngIf="control.hasError('passwordRules')">
                Mật khẩu phải chứa 6-16 ký tự, bao gồm tối thiểu 1 ký tự hoa và 1 ký tự thường
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired nzFor="confirmPassword">
            Nhập lại mật khẩu mới
          </nz-form-label>
          <nz-form-control [nzErrorTip]="errorTpl">
            <nz-input-group [nzPrefix]="prefixLock" [nzSuffix]="suffixConfirmPassword">
              <input [type]="isConfirmPasswordVisible ? 'text' : 'password'" nz-input formControlName="confirmPassword"
                placeholder="Nhập lại mật khẩu" required>
            </nz-input-group>
          </nz-form-control>
          <ng-template #errorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Vui lòng xác nhận mật khẩu
            </ng-container>
            <ng-container *ngIf="control.hasError('confirm')">
              Mật khẩu không khớp
            </ng-container>
          </ng-template>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <div class="d-flex align-items-center justify-content-end">
              <button nz-button [nzLoading]="loading" class="w-100 login-form-button" [nzType]="'primary'">Hoàn
                thành</button>
            </div>
          </nz-form-control>
        </nz-form-item>
      </form>
      <ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
      <ng-template #suffixPassword>
        <i nz-icon [nzType]="isPasswordVisible ? 'eye-invisible' : 'eye'"
          (click)="isPasswordVisible = !isPasswordVisible">
        </i>
      </ng-template>
      <ng-template #suffixConfirmPassword>
        <i nz-icon [nzType]="isConfirmPasswordVisible ? 'eye-invisible' : 'eye'"
          (click)="isConfirmPasswordVisible = !isConfirmPasswordVisible">
        </i>
      </ng-template>
    </nz-card>
  </div>
  <div class="offset-md-1 col-md-6 d-none d-md-block">
    <img class="img-fluid" src="assets/images/others/login-2.png" alt="back-ground">
  </div>
</div>