<div class="container-fluid m-0">
  <nz-card>
    <div class="row align-items-center">
      <div class="col-xl-7 col-md-6 d-flex justify-content-between">
        <div class="d-md-flex align-items-center">
          <div class="text-center text-sm-left ">
            <nz-avatar class="shadow-sm m-v-15" nzIcon="user" [nzSize]="111" [nzSrc]="user?.avatar"></nz-avatar>
          </div>
          <div class="text-center text-sm-left m-v-15 p-l-30">
            <h4 class="m-b-0">{{user?.fullName}}</h4>
            <p class="text-opacity font-size-13">
              <nz-badge [nzColor]="user?.status | option:studentStatusOptions:'color'"
                [nzText]="user?.status | option:studentStatusOptions"></nz-badge>
            </p>
            <button class="ant-btn ant-btn-primary ant-btn-background-ghost"
              (confirmed)="inActiveAccount(user?.id, user?.status)"
              [confirmation]="'Bạn có chắc chắn muốn khóa tài khoản học viên này không?'">{{ btnUserStatus }} </button>
          </div>
        </div>
        <div class="d-md-block d-none border-left"></div>
      </div>
      <div class="col-xl-5 col-md-6">
        <div class="row">
          <div class="col font-size-12">
            <ul class="list-unstyled m-t-10 list-info">
              <li class="row">
                <p class="col-md-4 font-weight-semibold text-dark m-b-5">
                  <i aria-hidden="true" class="m-r-10 text-primary" nz-icon nzType="mail" theme="outline"></i>
                  <span>Email: </span>
                </p>
                <p class="col-md-8 font-weight-semibold"> {{ user?.email }}</p>
              </li>
              <li class="row">
                <p class="col-md-4 font-weight-semibold text-dark m-b-5">
                  <i aria-hidden="true" class="m-r-10 text-primary" nz-icon nzType="phone" theme="outline"></i>
                  <span>Số điện thoại: </span>
                </p>
                <p class="col-md-8 font-weight-semibold">{{ user?.phoneNumber }}</p>
              </li>
              <li class="row">
                <p class="col-md-4 font-weight-semibold text-dark m-b-5">
                  <i aria-hidden="true" class="m-r-10 text-primary" nz-icon nzType="man" theme="outline"></i>
                  <span>Giới tính: </span>
                </p>
                <p class="col-md-8 font-weight-semibold"> {{ user?.gender }}</p>
              </li>
              <li class="row">
                <p class="col-md-4 font-weight-semibold text-dark m-b-5">
                  <i aria-hidden="true" class="m-r-10 text-primary" nz-icon nzType="calendar" theme="outline"></i>
                  <span>Ngày sinh: </span>
                </p>
                <p class="col-md-8 font-weight-semibold">{{ user?.dateOfBirth | datetime }}</p>
              </li>
              <li class="row">
                <p class="col-md-4 font-weight-semibold text-dark m-b-5">
                  <i aria-hidden="true" class="m-r-10 text-primary" nz-icon nzType="compass" theme="outline"></i>
                  <span>Địa chỉ : </span>
                </p>
                <p class="col-md-8 font-weight-semibold"> {{ user?.address }}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nz-card>
  <div class="row">
    <div class="col-md-12 col-lg-8">
      <nz-card>
        <h5>Khoá học đã đăng ký ({{metaCourse?.totalItems}})</h5>
        <nz-table #orderTable [nzData]="itemData" [nzShowPagination]="true" [nzFrontPagination]="false"
          (nzQueryParams)="onParamsCourseChanged($event)" [nzTotal]="metaCourse?.totalItems" [nzPageSize]="10"
          [(nzPageIndex)]="coursePageIndex" nzTableLayout="fixed">
          <thead class="font-size-12">
            <tr>
              <th scope="col" [width]="50">ID</th>
              <th [width]="250" scope="col">Tên khóa học</th>
              <th [width]="100" scope="col">Giảng viên</th>
              <th [width]="150" scope="col">Ngày bắt đầu</th>
              <th [width]="100" scope="col">Tiến độ</th>
              <th [width]="150" scope="col">Trạng thái</th>
            </tr>
          </thead>
          <tbody class="font-size-11">
            <tr *ngFor="let item of orderTable.data; let i = index;">
              <td>#{{ (i + 1) + (metaCourse.currentPage - 1) * metaCourse.itemsPerPage }}</td>
              <td>
                <div class="text-truncate"><span [title]="item.courseName">{{ item.courseName }}</span></div>
              </td>
              <td>{{ item.teacherName }}</td>
              <td>{{ item.startDate |date:'dd-MM-YYYY'}}</td>
              <td>{{ item.accurateProgress || 0 | number: '1.0-2' }}%</td>
              <td>
                <nz-badge [nzColor]="item.status | option:studentCourseStatusOptions:'color'"
                  [nzText]="item.status | option:studentCourseStatusOptions"></nz-badge>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-card>
    </div>
    <div class="col-md-6 col-lg-4">
      <nz-card>
        <h5>Sự kiện đã đăng ký ({{metaEvent?.totalItems}})</h5>
        <div class="m-t-20">
          <nz-list [nzDataSource]="registeredEventListData" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
            <ng-template #item let-item>
              <nz-list-item class="border-bottom-0">
                <nz-list-item-meta [nzTitle]="nzTitle" [nzAvatar]="nzAvatar" [nzDescription]="item.startAt">
                  <ng-template #nzTitle>
                    <div class="d-flex justify-content-center align-items-center row">
                      <div class="font-size-15 col-7">{{item.title}}</div>
                      <div class="col-5">
                        <div class="d-flex justify-content-center align-items-center status-btn"
                          [ngClass]="{'wait': item.status === 'Wait','happening': item.status === 'Happening', 'done': item.status === 'Done'}">
                          {{item.status | option:eventStatusOptions}}
                        </div>
                      </div>
                    </div>

                  </ng-template>
                  <ng-template #nzAvatar>
                    <nz-avatar [nzSize]="45" [nzSrc]="item.thumbnail"></nz-avatar>
                  </ng-template>
                </nz-list-item-meta>
              </nz-list-item>
            </ng-template>
          </nz-list>
        </div>
      </nz-card>
      <nz-card>
        <h5>Chứng chỉ đạt được ({{metaCertificate?.totalItems}})</h5>
        <div class="m-t-20">
          <nz-list [nzDataSource]="certificateObtainedListData" [nzRenderItem]="item2" [nzItemLayout]="'horizontal'">
            <ng-template #item2 let-item>
              <nz-list-item class="border-bottom-0">
                <nz-list-item-meta [nzTitle]="nzTitle2" [nzAvatar]="nzAvatar2" [nzDescription]="'Beauty Up'">
                  <ng-template #nzTitle2>
                    <a class="font-size-15" [href]="item.path" target="_blank">{{item.courseName}}</a>
                  </ng-template>
                  <ng-template #nzAvatar2>
                    <img height="50px" src="assets/images/others/certificate.png" alt="chứng chỉ" />
                  </ng-template>
                </nz-list-item-meta>
              </nz-list-item>
            </ng-template>
          </nz-list>
        </div>
      </nz-card>
    </div>
  </div>
</div>
