.section-title {
  border-bottom: 1px solid #edf2f9;
  color: rgba(0, 0, 0, 0.25);
  padding-bottom: 12px;
  margin-bottom: 30px;
}
.underline {
  height: 1px;
  background: #EDF2F9;
  margin: 0 -1.5rem;
  margin-bottom: 30px;
}
.input-space {
  width: 150px;
}
