<div class="media mb-3">
  <div class="image-cropper"
       [class.has-image]="imageUrl && showAction">
    <label [for]="inputId">
      <div class="avatar">
        <img class="upload"
             [src]="imageUrl |safeUrl"
             alt="image upload"
             *ngIf="imageUrl">
        <div class="upload"
             *ngIf="!imageUrl">+Upload</div>
      </div>
    </label>
    <div class="actions"
         *ngIf="imageUrl && showAction">
      <span (click)="previewVisible = true">
        <i aria-hidden="true"
           nz-icon
           nzType="eye"
           nzTheme="outline"></i>
      </span>
      <span (confirmed)="handleRemove()"
            *ngIf="!isDisable"
            [confirmation]="'Bạn có chắc chắn muốn xóa ảnh này không?'">
        <i aria-hidden="true"
           nz-icon
           class="ml-3"
           nzType="delete"
           nzTheme="outline"></i>
      </span>
    </div>
  </div>
  <div class="m-l-20 m-r-20 label-content">
    <ng-content></ng-content>
  </div>
</div>
<input #attachment
       [id]="inputId"
       type="file"
       accept="image/*"
       class="d-none"
       (change)="onFileChanged($event)"
       [disabled]="isDisable">

<nz-modal [nzVisible]="previewVisible"
          [nzContent]="modalContent"
          [nzFooter]="null"
          (nzOnCancel)="previewVisible = false">
  <ng-template #modalContent>
    <img [src]="imageUrl"
         [ngStyle]="{ width: '100%' }"
         alt="preview" />
  </ng-template>
</nz-modal>