<nz-select class="w-100" [(ngModel)]="controlValue" (ngModelChange)="onModelChange($event)"
  [nzServerSearch]="true" (nzOnSearch)="search$.next($event)" [nzPlaceHolder]="placeholder" [nzDisabled]="disabled"
  [nzOptionHeightPx]="50" nzAllowClear nzShowSearch [nzLoading]="isLoading">
  <nz-option nzCustomContent *ngFor="let option of options" [nzValue]="option.value" [nzLabel]="option.label"
    [nzDisabled]="option?.disabled">
    <div class="d-flex align-items-center">
      <img style="width: 50px;height: 50px" [src]="option.value" alt="icon"/>
      <div class="ml-2">{{ option.label }}</div>
    </div>
  </nz-option>
  <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
    <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
  </nz-option>
</nz-select>
