<nz-card>
	<div class="text-right">
		<button nz-button nzType="primary" (click)="addItem()" [disabled]="feedbacks?.length >= 10">Thêm
			mới</button>
	</div>
	<nz-table [nzData]="feedbacks" [nzShowPagination]="false">
		<thead>
			<tr>
				<th scope="col" [nzWidth]="'40px'">ID</th>
				<th scope="col" [nzWidth]="'15%'">Tên học viên</th>
				<th scope="col" [nzWidth]="'10%'">Hình ảnh</th>
				<th scope="col" [nzWidth]="'20%'">Tên khóa học</th>
				<th scope="col">Chi tiết đánh giá</th>
				<th scope="col" [nzWidth]="'120px'"></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of feedbacks;let index = index">
				<td>#{{ index+1 }}</td>
				<td>{{ item?.studentName }}</td>
				<td>
					<nz-avatar nzShape="square" [nzSize]="28" nzIcon="picture" [nzSrc]="item.photo">
					</nz-avatar>
				</td>
				<td>{{ item?.courseName }}</td>
				<td class="">
					<span class="truncate-3">
						{{ item?.content }}
					</span>
				</td>
				<td>
					<div class="d-flex">
						<a class="m-r-5" nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Cập nhật"
							(click)="edit(index)">
							<i nz-icon nzType="edit" theme="outline"></i>
						</a>
						<div (confirmed)="delete(index)"
							[confirmation]="'Bạn chắc chắn muốn xóa thông tin đánh giá này? Các trường thông tin sẽ không thể khôi phục sau khi xóa'">
							<a class="m-r-5" nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Xóa">
								<i nz-icon nzType="close" nzTheme="outline"></i>
							</a>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</nz-table>
</nz-card>