<nz-card>
  <form nz-form>
    <nz-form-item>
      <nz-form-control [nzSpan]="8">
        <input
          [formControl]="searchQuery"
          nz-input
          placeholder="Tìm kiếm tên, số điện thoại, địa chỉ"
        />
      </nz-form-control>
    </nz-form-item>
  </form>

  <nz-table
    [nzData]="partners"
    nzShowPagination
    [nzFrontPagination]="false"
    [nzPageIndex]="meta.currentPage"
    [nzPageSize]="10"
    [nzTotal]="meta.totalItems"
    [nzNoResult]="empty"
    (nzPageIndexChange)="onPageIndexChange($event)"
    [nzLoading]="isDataLoading"
    [nzShowTotal]="total"
  >
    <thead>
      <tr>
        <th>ID</th>
        <th>Người liên hệ</th>
        <th>Số điện thoại</th>
        <th>Email</th>
        <th>Tên học viện</th>
        <th>Địa chỉ học viện</th>
        <th>Gói đăng ký</th>
        <th>Quy mô thực hiện</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let partner of partners; index as i">
        <td>#{{ i + 1 + (meta.currentPage - 1) * 10 }}</td>
        <td>{{ partner.fullName }}</td>
        <td>{{ partner.phoneNumber }}</td>
        <td>{{ partner.email }}</td>
        <td>{{ partner.academyName }}</td>
        <td>{{ partner.address }}</td>
        <td>{{ partner.package }}</td>
        <td>{{ partner.numberOfParticipants }}</td>
        <td>
          <div
            [confirmation]="
              'Bạn có chắc chắn muốn xóa thông tin đối tác này
          không?'
            "
            (confirmed)="deletePartner(partner)"
          >
            <button
              nz-button
              nzType="default"
              nzShape="circle"
              nz-tooltip
              nzTooltipTitle="Xóa"
            >
              <i nz-icon nzType="close"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>

<ng-template #empty>
  <nz-empty nzNotFoundContent="Chưa có dữ liệu"></nz-empty>
</ng-template>

<ng-template #total> Tổng cộng: {{ meta.totalItems }} </ng-template>
