<div class="title px-3 py-2">
  <h5 class="mb-0">Chương học</h5>
  <span (click)="isAddStep = !isAddStep"><i nz-icon nzType="plus" nzTheme="outline"></i></span>
</div>
<div class="steps p-3" *ngIf="lessons?.length || isAddStep">
  <nz-collapse>
    <app-custome-collapse-step *ngFor="let lesson of lessons" [data]="lesson"></app-custome-collapse-step>
  </nz-collapse>
  <div class="add-step" *ngIf="isAddStep">
    <nz-form-item class="step-title mb-0">
      <nz-form-control [nzErrorTip]="'Vui lòng nhập tên chương học'">
        <input class="mr-3" type="text" nz-input [formControl]="lessonTitle">
      </nz-form-control>
    </nz-form-item>
    <span class="submit" (click)="addLesson()">
      <i nz-icon nzType="check" nzTheme="outline"></i>
    </span>
  </div>
</div>