.img-card {
  position: relative;
  padding-bottom: calc(100% / 273 * 200);
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.blog {
  padding: 24px 0;
  &:not(:last-child) {
    border-bottom: 1px solid #F0F0F0;
  }
}
