<nz-card>
  <div class="row">
    <div class="col-8">
      <div class="d-md-flex">
        <div class="m-b-10 m-r-20">
          <nz-input-group style="min-width: 275px;" [nzPrefix]="prefixTemplate">
            <input type="text" nz-input placeholder="Tìm kiếm theo tên bài viết" [formControl]="q">
          </nz-input-group>
          <ng-template #prefixTemplate>
            <i nz-icon nzType="search" class="opacity-05"></i>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="col-4 text-right">
      <a [routerLink]="'create'" nz-button nzType="primary">
        <span>Thêm mới bài viết</span>
      </a>
    </div>
  </div>
  <ng-container *ngIf="items.length;else empty">
    <div class="blog-list">
      <div *ngFor="let item of items" class="blog">
        <div class="row">
          <div class="col-3">
            <div class="img-card">
              <img class="img-fuild" [src]="item?.coverImage" alt="">
            </div>
          </div>
          <div class="col-9 d-flex flex-column">
            <h4 class="m-b-10">{{item?.title}}</h4>
            <div class="m-b-15">
              <div class="d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <nz-avatar nzIcon="user" [nzSize]="32" [nzSrc]="item?.authorAvatar">
                  </nz-avatar>
                  <div class="m-l-10">
                    <span class="text-gray font-weight-semibold" *ngIf="item?.authorName">{{item?.authorName}}</span>
                    <span class="text-gray font-weight-semibold" *ngIf="!item?.authorName">{{item?.authorEmail}}</span>
                  </div>
                </div>
                <div class="text-gray">
                  <nz-divider nzType="vertical"></nz-divider>
                  <span>{{item?.created | date: 'dd/MM/YYYY'}}</span>
                </div>
              </div>
            </div>
            <p class="lh-1-8 m-b-20">
              <span>{{item?.description}}</span>
            </p>
            <div class="text-right mt-auto">
              <span class="mr-3 ant-btn ant-btn-sm ant-btn-primary ant-btn-background-ghost" style="width: 100px"
                [confirmation]="'Bạn có chắc chắn muốn xóa thông tin bài viết này không?'"
                (confirmed)="deleteItem(item?.id)">Xóa</span>
              <button nzType="primary" nz-button [nzSize]="'small'" style="width: 100px" [routerLink]="[item?.id]">Chỉnh
                sửa</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-right">
      <nz-pagination [nzShowTotal]="totalTemplate" [nzPageIndex]="page" [nzTotal]="meta?.totalItems"></nz-pagination>
    </div>
  </ng-container>
</nz-card>
<ng-template #totalTemplate let-total> Tổng cộng: {{ total }} </ng-template>
<ng-template #empty>
  <nz-empty [nzNotFoundContent]="'Không có dữ liệu'"></nz-empty>
</ng-template>