<nz-card nzTitle="Bước 1: Thiết lập thông tin cơ bản">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <nz-form-item class="row">
      <nz-form-control nzErrorTip="File phải là file ảnh và nhỏ hơn 5mb">
        <app-file-upload-control [maxSize]="5000000" [fileType]="assetType.Image" [customLabel]="true"
          formControlName="photo">
          <div class="media mb-3">
            <div class="image-cropper">
              <label [for]="'fileUpload'">
                <div class="avatar">
                  <img class="upload" [src]="photoUrl || form.controls.photo.value" alt="image upload"
                    *ngIf="form.controls.photo.value">
                  <div class="upload" *ngIf="!form.controls.photo.value">+upload</div>
                </div>
              </label>
            </div>
            <div class="m-l-20 m-r-20">
              <nz-form-label nzRequired class="label-avatar">Chọn ảnh đại diện cho khoá học</nz-form-label>
              <p class="opacity-07 font-size-12 m-b-0">
                Kích thước đề xuất: 120x120 <br>
                Max file size: 5MB
              </p>
            </div>
          </div>
        </app-file-upload-control>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="row">
      <nz-form-label class="text-left input-space" nzRequired>Video giới thiệu</nz-form-label>
      <nz-radio-group nzAutoFocus [(ngModel)]="isUploadLink" [ngModelOptions]="{standalone: true}"
        class="d-flex align-items-center row">
        <nz-radio-button nz-radio [nzValue]="true">
          Nhập link youtube
        </nz-radio-button>
        <nz-radio-button nz-radio [nzValue]="false">
          Tải lên file video
        </nz-radio-button>
      </nz-radio-group>
    </nz-form-item>

    <nz-form-item class="row">
      <label class="text-left input-space"></label>
      <nz-form-control nzErrorTip="Vui lòng upload hoặc nhập link video giới thiệu">
        <div class="d-flex justify-content-between">
          <app-upload-video-intro class="w-100" formControlName="videoIntro" [isUploadLink]="isUploadLink">
          </app-upload-video-intro>
        </div>
      </nz-form-control>
    </nz-form-item>

    <div class="d-flex justify-content-between row">
      <nz-form-item class="col-6">
        <nz-form-label class="text-left input-space" nzRequired>Tên khóa học</nz-form-label>
        <nz-form-control nzErrorTip="Nhập tên khóa học">
          <input nz-input formControlName="name" placeholder="Nhập tên khóa học">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="col-6">
        <nz-form-label class="text-left input-space" nzRequired>Chọn giảng viên</nz-form-label>
        <nz-form-control nzErrorTip="Chọn giảng viên cho khóa học">
          <select-advance [getOptionsFn]="teachers" formControlName="userId" placeholder="Chọn giảng viên cho khóa học">
          </select-advance>
        </nz-form-control>
      </nz-form-item>
    </div>

    <nz-form-item>
      <nz-form-label class="text-left input-space" nzRequired>Loại khóa học</nz-form-label>
      <nz-form-control nzErrorTip="Chọn loại khóa học">
        <select-advance [getOptionsFn]="courseTypes" formControlName="typeId" placeholder="Chọn loại cho khóa học">
        </select-advance>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label class="text-left input-space" nzRequired>Mô tả</nz-form-label>
      <nz-form-control nzErrorTip="Nhập mô tả khóa học">
        <textarea style="resize: no;" nz-input rows="3" formControlName="description"
          placeholder="Nhập mô tả khóa học"></textarea>
      </nz-form-control>
    </nz-form-item>

    <div class="d-flex justify-content-between row">
      <nz-form-item class="col-6">
        <nz-form-label class="text-left input-space" nzRequired>Giá cho học viên</nz-form-label>
        <nz-form-control nzErrorTip="Nhập giá cho học viên">
          <input type="number" nz-input formControlName="studentPrice" placeholder="Giá cho học viên">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="col-6">
        <nz-form-label class="text-left input-space" nzRequired>Giá cho đối tác</nz-form-label>
        <nz-form-control nzErrorTip="Nhập giá cho đối tác">
          <input nz-input type="number" formControlName="partnerPrice" placeholder="Nhập Giá cho đối tác">
        </nz-form-control>
      </nz-form-item>
    </div>

    <nz-form-item>
      <nz-form-label class="text-left input-space" nzRequired>Kỹ năng</nz-form-label>
      <nz-form-control nzErrorTip="Chọn kỹ năng đạt được cho khóa học">
        <app-multiple-selection [getOptionsFn]="skills" formControlName="skills" placeholder="Chọn kĩ năng đạt được">
        </app-multiple-selection>
      </nz-form-control>
    </nz-form-item>

    <div class="w-100 d-flex justify-content-end">
      <button nz-button [nzType]="'primary'" type="submit" [nzLoading]="isLoading">Lưu dữ liệu</button>
    </div>
  </form>
</nz-card>
<nz-card nzTitle="Bước 2: Thiết lập nội dung khoá học">
  <div class="row">
    <div class="col-7">
      <div class="card-body p-0">
        <app-learning-path [courseId]="course?.id"></app-learning-path>
      </div>
    </div>
    <div class="col-5">
      <div class="card-body">
        <div class="title px-3 py-2">
          <h5 class="mb-0">Đánh giá học viên</h5>
          <span (click)="addFeedback()"><i nz-icon nzType="plus" nzTheme="outline"></i></span>
        </div>
        <div class="feedbacks px-3">
          <div *ngFor="let feedback of feedbacks"
            class="feedback d-flex align-items-center py-3 justify-content-between">
            <nz-avatar [nzShape]="'square'" [nzSize]="68" [nzIcon]="'user'" [nzSrc]="feedback.photo"></nz-avatar>
            <div class="ml-3 feedback-content">
              <h5 class="mb-0" (click)="editFeedback(feedback?.id)">{{feedback?.studentName}}</h5>
              <div class="truncate-2 text-muted">{{feedback?.content}}</div>
            </div>
            <div class="text-muted">
              <span [confirmation]="'Bạn có chắc chắn muốn xóa thông tin đánh giá của học viên này?'" (confirmed)="deleteFeedback()">
                <i nz-icon nzType="close-circle" nzTheme="fill" style="font-size: 20px;"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="title  px-3 py-2">
          <h5 class="mb-0">Cấp chứng chỉ</h5>
          <span><i nz-icon nzType="plus" nzTheme="outline"></i></span>
        </div>
      </div>
    </div>
  </div>
</nz-card>