<nz-card>
  <div class="row m-b-30">
    <div class="col-lg-8">
      <div class="d-md-flex">
        <div class="m-b-10 m-r-20">
          <nz-input-group style="min-width: 275px;" [nzPrefix]="prefixTemplate">
            <input type="text" nz-input placeholder="Tìm kiếm theo họ tên hoặc email">
          </nz-input-group>
          <ng-template #prefixTemplate>
            <i nz-icon nzType="search" class="opacity-05"></i>
          </ng-template>
        </div>
        <div class="m-b-10 m-r-20 d-flex align-items-center">
          <nz-select style="min-width: 220px;" class="w-100" nzPlaceHolder="Chọn chuyên môn">
            <nz-option nzLabel="All" nzValue="All"></nz-option>
            <nz-option nzLabel="Home Decoration" nzValue="Home Decoration"></nz-option>
            <nz-option nzLabel="Eletronic" nzValue="Eletronic"></nz-option>
            <nz-option nzLabel="Jewellery" nzValue="Jewellery"></nz-option>
          </nz-select>
        </div>
      </div>
    </div>
    <div class="col-lg-4 text-right">
      <a routerLink="create" nz-button nzType="primary">
        <span>Thêm mới</span>
      </a>
    </div>
  </div>
  <nz-table #productsListTable [nzData]="displayData">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tên giảng viên</th>
        <th>Chuyên môn</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Mô tả</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productsListTable.data;  let i=index">
        <td>#{{item.id}}</td>
        <td>
          <div class="d-flex align-items-center">
            <nz-avatar nzShape="square" [nzSize]="28" nzIcon="picture" [nzSrc]="item.avatar"></nz-avatar>
            <span class="m-l-10">{{item.name}}</span>
          </div>
        </td>
        <td>{{item.specialization}}</td>
        <td>{{item.email}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.description}}</td>
        <td class="text-md-right">
          <a [routerLink]="'1'" class="m-r-5" nz-button nzType="default" nzShape="circle" nz-tooltip
            nzTooltipTitle="Edit">
            <i nz-icon nzType="edit" theme="outline"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
