<nz-card>
  <form [formGroup]="search">
    <div class="row">
      <div class="col-10">
        <div class="d-md-flex">
          <nz-form-item class="mr-3">
            <nz-form-control>
              <nz-input-group [nzPrefix]="prefixTemplate">
                <input type="text" nz-input formControlName="q" placeholder="Tìm kiếm theo tên khóa học">
              </nz-input-group>
              <ng-template #prefixTemplate>
                <i nz-icon nzType="search" class="opacity-05"></i>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <div class="m-b-10 m-r-20 d-flex">
            <select-advance [width]="'220px'" class="select-advance" placeholder="Chọn loại khóa học"
              [getOptionsFn]="type$" formControlName="typeId">
            </select-advance>
          </div>
          <div class="m-b-10 m-r-20 d-flex">
            <select-advance [width]="'220px'" class="select-advance" placeholder="Chọn giảng viên"
              [getOptionsFn]="teacher$" formControlName="userId">
            </select-advance>
          </div>
        </div>
      </div>
      <div class="col-2 text-right">
        <a nz-button nzType="primary" [routerLink]="['/course-management/course/create']">Thêm mới</a>
      </div>
    </div>
  </form>
  <nz-table [nzData]="items" (nzQueryParams)="onParamsChanged($event)" [nzPageSize]="quantity" [nzLoading]="isloading"
    [nzTotal]="meta?.totalItems" [nzFrontPagination]="false" [nzShowTotal]="totalTemplate" [nzNoResult]="empty"
    [(nzPageIndex)]="page">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <ng-container *ngFor="let col of metaData">
          <th *ngIf="!col.sortable" scope="col">{{col.name}}</th>
          <th *ngIf="col.sortable" scope="col" [nzSortFn]="col.sortable" [nzSortOrder]="col?.sortOrder"
            [nzColumnKey]="col.key">{{col.name}}</th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>#{{item?.index}}</td>
        <td class="text-nowrap">
          <a [routerLink]="['../course/edit', item.id]">{{item?.name}}</a>
        </td>
        <td>
          <div class="d-flex align-items-center">
            <nz-avatar nzShape="square" [nzSize]="28" nzIcon="picture" [nzSrc]="item.teacherAvatar"></nz-avatar>
            <span class="m-l-10 truncate-1">{{item?.teacherName}}</span>
          </div>
        </td>
        <td>{{item?.typeName}}</td>
        <td>{{item?.studentPrice | number}}đ</td>
        <td>{{item?.partnerPrice | number}}đ</td>
        <td>{{item?.totalStudent}}</td>
        <td>{{item?.created | date: 'dd/MM/YYYY'}}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<ng-template #empty>
  <nz-empty [nzNotFoundContent]="'Không có dữ liệu'"></nz-empty>
</ng-template>
<ng-template #totalTemplate let-total> Total: {{ total }} </ng-template>