<label [for]="inputId" class="btn btn-upload">
  <i  aria-hidden="true"class="far fa-cloud-upload"></i>
  Chọn file
</label>
<div class="d-flex mt-3" *ngIf="fileNames.length">
  <ul class="list-unstyled">
    <li class="d-inline-block mr-2" *ngFor="let fileName of fileNames; let index = index;">
      <span class="text-primary">{{ fileName }}</span>
      <a class="ml-2 pointer" (click)="remove(index)">
        <i  aria-hidden="true"class="far fa-trash-alt"></i>
      </a>
    </li>
  </ul>
</div>
<input [id]="inputId" class="d-none" type="file" (change)="onFileChanged($event)" [multiple]="true" #input>