<label [for]="inputId" class="btn btn-upload">
  <i class="far fa-cloud-upload"></i>
  Chọn file
</label>
<div class="d-flex" *ngIf="fileNames">
  <ul class="list-unstyled">
    <li *ngFor="let fileName of fileNames; let index = index;">
      <span class="text-primary">{{ fileName }}</span>
      <a class="ml-2 pointer" (click)="remove(index)">
        <i class="far fa-trash-alt"></i>
      </a>
    </li>
  </ul>
</div>
<input [id]="inputId" class="ghost" type="file" (change)="onFileChanged($event)" [multiple]="true">