<div class="upload-area">
  <ng-container [ngSwitch]="status">
    <ng-container *ngSwitchCase="UploaderStatus.NotSelected">
      <label class="upload-label d-flex flex-column align-items-center justify-content-center"
             for="fileInput">
        <i aria-hidden="true"
           nz-icon
           nzType="youtube"
           nzTheme="fill"></i>
        <span class="mt-1 text-dark"
              translate>Nhấn vào đây và chọn video để upload</span>
        <span class="file-type">Định dạng file hỗ trợ .mp4. Tên file không chứa các ký tự đặc biệt</span>
      </label>
    </ng-container>
    <ng-container *ngSwitchCase="UploaderStatus.Selected">
      <div *ngIf="url">
        <div class="video-player"
             style="height: 350px;">
          <i aria-hidden="true"
             nz-icon
             *ngIf="!isDisable"
             nzType="close-circle"
             nzTheme="fill"
             (confirmed)="removeVideo()"
             [confirmation]="confirmationText"></i>
          <video #vimeo
                 class="azuremediaplayer amp-default-skin"
                 controls
                 style="width: 500px;height:350px">
            <p class="amp-no-js">
              To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5
              video
            </p>
          </video>
          <div id="horizon"
               *ngIf="isProcessing">
            <div id="sun">
              Video này đang được xử lý
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!url">
        <label class="d-flex align-items-center p-4 file-selected">
          <i aria-hidden="true"
             nz-icon
             nzType="file-zip"
             nzTheme="outline"></i>
          <div class="ml-3">
            <div class="text-dark"
                 translate>{{file?.name}} {{file?.size}}</div>
            <div class="file-type">Click vào biểu tượng xóa để xóa tệp hiện tại</div>
          </div>
          <i aria-hidden="true"
             nz-icon
             nzType="delete"
             class="font-size-16 ml-2 pointer"
             (confirmed)="removeVideo()"
             [confirmation]="confirmationText"
             nzTheme="outline"
             style="color: #ff4d4f;"></i>
        </label>
      </div>
    </ng-container>
  </ng-container>

</div>
<input #video
       id="fileInput"
       type="file"
       name="file"
       class="d-none"
       (change)="onFileChanged($event)"
       accept="video/*">