.upload-label {
  background-color: #fafafa;
  padding: 20px 0;
  cursor: pointer;
  .file-type {
    color: #72849A;
  }
  i {
    color: #2F80ED;
    font-size: 32px;
  }
}
.video-player {
  width: fit-content;
  position: relative;
  i {
    color: #72849A;
    font-size: 30px;
    top: 10px;
    right: 10px;
    position: absolute;
    z-index: 2;
    cursor: pointer;
  }
}
.file-selected {
  background-color: #fafafa;
  i {
    color: #2F80ED;
    font-size: 32px;
  }
}
#horizon {
  display: table;
  height: 100%;
  position: static;
  height:360px;
  width: 480px;
  background-color: #000000;
}

#sun {
  display: table-cell;
  vertical-align: middle;
  position: static;
  margin: 0 auto;
  color: #ffffff;
  font-size: 16px;
  p{ 
    font-weight: 600;
    color: #ffffff;
    text-align: center;
  }
}