.title-input {
  color: #53535f;
  font-weight: 600;
  height: 1.9125rem;

  .asterisks {
    color: #ff4d4f;
  }
}

.error{
  color: #de4436;
}

.answer {
  margin: 0 9px !important;
}

.ant-collapse-header {
  border-bottom: 1px solid #edf2f9;
}
.ant-collapse-content-active {
  border-bottom: 1px solid #edf2f9;
  border-top: none !important;
}

.bg-content {
  background: #F9FBFD;
}
