<div class="row align-items-center">
  <div class="col-md-5">
    <nz-card>
      <h2 class="m-t-20">Đăng nhập</h2>
      <p class="m-b-30">Nhập tài khoản và mật khẩu để đăng nhập hệ thống</p>
      <form nz-form [formGroup]="loginForm" nzLayout="vertical" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="userName">Tài khoản</nz-form-label>
          <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group [nzPrefix]="prefixUser">
              <input type="text" nz-input formControlName="userName" placeholder="Nhập Email">
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="relative">
          <nz-form-label nzRequired nzFor="password">Mật khẩu</nz-form-label>
          <a class="float-right font-size-13 text-muted" style="position:absolute; right: 0"
            [routerLink]="['/authentication/reset-password-1']">Quên mật khẩu?</a>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group [nzPrefix]="prefixLock">
              <input type="password" nz-input formControlName="password" placeholder="Nhập mật khẩu">
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <div class="d-flex align-items-center justify-content-end">
              <button nz-button class="login-form-button" [nzType]="'primary'">Đăng nhập</button>
            </div>
          </nz-form-control>
        </nz-form-item>
      </form>
      <ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
      <ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
    </nz-card>
  </div>
  <div class="offset-md-1 col-md-6 d-none d-md-block">
    <img class="img-fluid" src="assets/images/others/login-2.png" alt="">
  </div>
</div>
