<nz-card>
  <div class="row">
    <div class="col-12">
      <nz-table [nzData]="[1, 2, 3]">
        <thead>
          <tr>
            <th scope="col">Thứ tự</th>
            <th scope="col">Khóa học</th>
            <th scope="col">Lượt xem</th>
            <th scope="col">Lượt mua</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dummy; let i = index">
            <td>Top {{ i + 1 }}</td>
            <td>
              <!-- <select-advance
                placeholder="Chọn chuyên môn"
                [getOptionsFn]="specializations"
                style="min-width: 220px"
                formControlName="specializationId"
              >
              </select-advance> -->
            </td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</nz-card>
