<nz-card>
  <div style="text-align: right">
    <a nz-button nzType="default" class="m-r-5" (click)="isPreview = true">
      <i nz-icon nzType="eye"></i> Xem trước
    </a>
    <a (click)="createPayment()" nz-button nzType="primary">
      <i nz-icon nzType="plus"></i> Tạo mới
    </a>
  </div>

  <nz-table
    [nzLoading]="isDataLoading"
    [nzData]="payments"
    [nzFrontPagination]="false"
    [nzShowPagination]="false"
  >
    <thead>
      <tr>
        <th>ID</th>
        <th nzAlign="center">Tên ngân hàng</th>
        <th nzAlign="center">Logo</th>
        <th>Số tài khoản</th>
        <th>Chủ tài khoản</th>
        <th>Chi nhánh</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let paymentInfo of payments; index as i">
        <td>#{{ i + 1 }}</td>
        <td nzAlign="center">{{ paymentInfo.bankCode }}</td>
        <td nzAlign="center">
          <img
            [src]="paymentInfo.imageActive"
            style="width: 105px; height: 50px"
          />
        </td>
        <td>{{ paymentInfo.accountNumber }}</td>
        <td>{{ paymentInfo.accountName }}</td>
        <td>{{ paymentInfo.branch }}</td>
        <td style="white-space: nowrap">
          <a
            class="m-r-5"
            nz-button
            nzShape="circle"
            nzType="default"
            nz-tooltip
            nzTooltipTitle="Sửa"
            (click)="editPayment(i)"
          >
            <i nz-icon nzType="edit"></i>
          </a>

          <span
            [confirmation]="
              'Bạn có chắc muốn xóa thông tin thanh toán này không?'
            "
            (confirmed)="deletePayment(paymentInfo)"
          >
            <a
              nz-button
              nzShape="circle"
              nzType="default"
              nz-tooltip
              nzTooltipTitle="Xóa"
            >
              <i nz-icon nzType="close"></i>
            </a>
          </span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>

<app-payments-preview
  [payments]="payments"
  [isPreview]="isPreview"
  (closed)="isPreview = false"
></app-payments-preview>
