<nz-card>
  <div class="row m-b-30">
    <div class="col-lg-8">
      <div class="d-md-flex">
        <div class="m-b-10 m-r-20">
          <nz-input-group style="min-width: 275px;" [nzPrefix]="prefixTemplate">
            <input type="text" nz-input placeholder="Tìm kiếm theo họ tên hoặc email" [(ngModel)]="searchInput">
          </nz-input-group>
          <ng-template #prefixTemplate>
            <i nz-icon nzType="search" class="opacity-05"></i>
          </ng-template>
        </div>
        <div class="m-b-10 m-r-20 d-flex align-items-center">
          <nz-select style="min-width: 220px;" class="w-100" nzPlaceHolder="Chọn đối tác">
            <nz-option nzLabel="All" nzValue="All"></nz-option>
            <nz-option nzLabel="Home Decoration" nzValue="Home Decoration"></nz-option>
            <nz-option nzLabel="Eletronic" nzValue="Eletronic"></nz-option>
            <nz-option nzLabel="Jewellery" nzValue="Jewellery"></nz-option>
          </nz-select>
        </div>
        <div class="m-b-10 m-r-20 d-flex align-items-center">
          <nz-select style="min-width: 220px;" class="w-100" nzPlaceHolder="Chọn trạng thái"
            [(ngModel)]="selectedStatus">
            <nz-option nzLabel="All" nzValue="All"></nz-option>
            <nz-option nzLabel="In Stock" nzValue="in stock"></nz-option>
            <nz-option nzLabel="Out Of Stock" nzValue="out of stock"></nz-option>
          </nz-select>
        </div>
      </div>
    </div>
  </div>
  <nz-table #productsListTable [nzData]="displayData">
    <thead>
      <tr>
        <th>ID</th>
        <th>Người dùng</th>
        <th>Công việc</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Đối tác</th>
        <th>Trạng thái</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productsListTable.data;  let i=index">
        <td>#{{item.id}}</td>
        <td>
          <div class="d-flex align-items-center">
            <nz-avatar nzShape="square" [nzSize]="28" nzIcon="picture" [nzSrc]="item.avatar"></nz-avatar>
            <span class="m-l-10">{{item.name}}</span>
          </div>
        </td>
        <td>{{item.position}}</td>
        <td>{{item.email}}</td>
        <td>
          {{item.phone}}
        </td>
        <td>
          {{item.partner}}
        </td>
        <td>
          <nz-badge *ngIf="item.status === 'Active'" nzStatus="success"></nz-badge>
          <nz-badge *ngIf="item.status === 'Inactive'" nzStatus="error"></nz-badge>
          <span class="text-capitalize">{{item.status}}</span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
