<nz-card>
  <div class="text-right">
    <a nz-button nzType="primary" routerLink="create">Tạo mới gói sản phẩm</a>
  </div>
  <nz-table [nzLoading]="isloading" [nzShowPagination]="false" [nzData]="list">
    <thead>
      <tr>
        <th>ID</th>
        <th nzAlign="center">Gói sản phẩm</th>
        <th nzAlign="right">Giá tiền lưu trữ</th>
        <th nzAlign="center">Giới hạn dung lượng</th>
        <th nzAlign="center">Số lượng học viên</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td>#{{ item.index }}</td>
        <td nzAlign="center">{{ item.name }}</td>
        <td nzAlign="right">{{ item.monthlyPrice | number }}</td>
        <td nzAlign="center">{{ item.maxStorage }}</td>
        <td nzAlign="center">{{ item.maxStudents }}</td>
        <td>
          <a
            nz-button
            nzShape="circle"
            class="m-r-5"
            [routerLink]="['edit', item.id]"
          >
            <i nz-icon nzType="edit"></i>
          </a>
          <a nzShape="circle" nz-button
            ><i
              confirmation="Bạn có chắc muốn xóa gói sản phẩm này không?"
              (confirmed)="remove(item.id)"
              nz-icon
              nzType="close"
            ></i
          ></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
