<form [formGroup]="form" nz-form>
  <div>
    <div class="media mb-3">
      <div class="image-cropper" #cropperRef="imageCropper" imageCropper [aspectRatio]="262 / 300"
        (cropped)="onCropped($event)">
        <label [for]="'cropperImageFeedback'">
          <div class="avatar">
            <img [src]="avatarUrl" alt="image upload" *ngIf="avatarUrl">
            <div class="upload" *ngIf="!avatarUrl">+upload</div>
          </div>
        </label>
        <input [id]="'cropperImageFeedback'" type="file" class="d-none" (change)="cropperRef.set($event)"
          accept="image/*" />
      </div>
      <div class="m-l-20 m-r-20">
        <nz-form-label nzRequired class="label-avatar">Chọn ảnh học viên</nz-form-label>
        <p class="opacity-07 font-size-10 m-b-0">
          Kích thước đề xuất: 550x500 <br>
          Max file size: 5MB
        </p>
      </div>
    </div>
    <nz-form-item>
      <nz-form-label class="text-left" nzRequired [nzSpan]="6">Tên giảng viên</nz-form-label>
      <nz-form-control [nzErrorTip]="'Tên giảng viên chỉ từ 1 đến 200 ký tự'">
        <input nz-input formControlName="name" placeholder="Nhập tên giảng viên">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" class="text-left" nzRequired>Chức vụ</nz-form-label>
      <nz-form-control [nzErrorTip]="'Chức vụ có độ dài từ 1 đến 200 ký tự'">
        <input nz-input formControlName="position" placeholder="Nhập chức vụ">
      </nz-form-control>
    </nz-form-item>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="primary" (click)="submit()">Xác nhận</button>
  </div>
</form>