<form [formGroup]="form" nz-form (ngSubmit)="submit()">
  <nz-form-item>
    <nz-form-label class="text-left" nzRequired [nzSpan]="6"
      >Mã giảm giá</nz-form-label
    >
    <nz-form-control [nzErrorTip]="errorName">
      <input nz-input formControlName="name" placeholder="Nhập mã giảm giá" />
    </nz-form-control>
    <ng-template #errorName>
      <ng-container *ngIf="form.get('name').hasError('required')">
        Vui lòng nhập mã giảm giá
      </ng-container>
      <ng-container *ngIf="form.get('email').hasError('voucherCode')">
        Mã giảm giá không hợp lệ
      </ng-container>
    </ng-template>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label class="text-left" [nzSpan]="6">Mã đặc biệt</nz-form-label>
    <nz-form-control>
      <label nz-checkbox formControlName="code"></label>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="form.value.code">
    <nz-form-label class="text-left" [nzSpan]="6">Số ký tự</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="numberCharacter" />
    </nz-form-control>
    <button
      nz-button
      (click)="generateCode()"
      class="btn btn-secondary"
      nzSize="small"
    >
      Tạo mã
    </button>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" nzRequired class="text-left"
      >Giá trị</nz-form-label
    >
    <nz-input-group nzCompact style="width: 75%">
      <input
        style="width: calc(100% - 70px)"
        type="text"
        nz-input
        formControlName="value"
        placeholder="Nhập giá trị"
      />
      <nz-select formControlName="sufixValue" style="width: 70px">
        <nz-option [nzLabel]="'%'" [nzValue]="'%'"></nz-option>
        <nz-option [nzLabel]="'VNĐ'" [nzValue]="'VND'"></nz-option>
      </nz-select>
    </nz-input-group>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" class="text-left" nzRequired
      >Ngày bắt đầu</nz-form-label
    >
    <nz-form-control [nzErrorTip]="'Vui lòng chọn ngày bắt đầu'">
      <nz-date-picker
        nzFormat="dd/MM/yyyy HH:mm"
        class="w-100"
        formControlName="startAt"
        [nzShowTime]="{ nzFormat: 'HH:mm' }"
        [nzPlaceHolder]="'Chọn thời gian bắt đầu'"
      ></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" class="text-left" nzRequired
      >Ngày kết thúc</nz-form-label
    >
    <nz-form-control [nzErrorTip]="'Vui lòng chọn ngày kết thúc'">
      <nz-date-picker
        nzFormat="dd/MM/yyyy HH:mm"
        class="w-100"
        formControlName="endAt"
        [nzShowTime]="{ nzFormat: 'HH:mm' }"
        [nzPlaceHolder]="'Chọn thời gian kết thúc'"
      ></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" class="text-left" nzRequired
      >Đổi tượng</nz-form-label
    >
    <nz-form-control>
      <nz-radio-group formControlName="target">
        <label nz-radio [nzValue]="VoucherTarget.GENERAL">Bất kỳ</label>
        <label nz-radio [nzValue]="VoucherTarget.PERSONAL">Chỉ định</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
  <ng-container [ngSwitch]="form?.value?.target">
    <nz-form-item *ngSwitchCase="VoucherTarget.GENERAL">
      <nz-form-label [nzSpan]="6" class="text-left" nzRequired
        >Số lượng</nz-form-label
      >
      <nz-form-control>
        <input
          type="text"
          nz-input
          placeholder="Nhập số lượng"
          formControlName="quanlity"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngSwitchCase="VoucherTarget.PERSONAL">
      <nz-form-label [nzSpan]="6" class="text-left" nzRequired
        >Người dùng</nz-form-label
      >
      <nz-form-control>
        <app-multiple-selection
          class="select-advance"
          placeholder="Chọn đối tượng"
          [getOptionsFn]="users$"
          formControlName="userIds"
        >
        </app-multiple-selection>
      </nz-form-control>
    </nz-form-item>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="primary" type="button">Hủy bỏ</button>
    <button
      nz-button
      nzType="primary"
      (click)="submit()"
      type="submit"
      [nzLoading]="isLoading"
    >
      Xác nhận
    </button>
  </div>
</form>
