<nz-card>
  <nz-spin [nzSpinning]="isLoading">
    <div class="text-right mb-3">
      <nz-switch [ngModel]="isVisible"
                 [nzCheckedChildren]="checkedTemplate"
                 [nzUnCheckedChildren]="unCheckedTemplate"
                 (ngModelChange)="visible($event)"></nz-switch>
      <ng-template #checkedTemplate><i nz-icon
           nzType="check"></i></ng-template>
      <ng-template #unCheckedTemplate><i nz-icon
           nzType="close"></i></ng-template>
    </div>
    <form [formGroup]="form"
          (ngSubmit)="submit()"
          nz-form>
      <nz-form-item>
        <nz-form-label class="text-left"
                       [nzSpan]="3"
                       nzRequired>
          Hình ảnh đại diện
        </nz-form-label>
        <nz-form-control [nzErrorTip]="'Vui lòng tải lên logo cho header'">
          <app-file-upload-control formControlName="coverAvatar"
                                   [fileType]="assetType.Image"
                                   [maxSize]="5000000">
          </app-file-upload-control>
        </nz-form-control>
      </nz-form-item>
      <div class="text-right">
        <button type="submit"
                nz-button
                nzType="primary">
          Lưu lại
        </button>
        <button class="ml-4"
                [routerLink]="['/dashboard/home']"
                type="button"
                nz-button
                nzType="primary"
                nzGhost>
          Quay lại
        </button>
      </div>
    </form>
  </nz-spin>
</nz-card>