<form nz-form [formGroup]="form" nzLayout="vertical">
  <nz-form-item>
    <nz-form-label nzRequired>Tên học viện</nz-form-label>
    <nz-form-control nzErrorTip="Vui lòng nhập tên học viện">
      <input type="text" nz-input formControlName="name" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>Tên người đại diện</nz-form-label>
    <nz-form-control nzErrorTip="Vui lòng nhập tên người đại diện">
      <input type="text" nz-input formControlName="representative" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired>Địa chỉ</nz-form-label>
    <nz-form-control nzErrorTip="Vui lòng nhập địa chỉ">
      <input type="text" nz-input formControlName="address" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>Số điện thoại</nz-form-label>
    <nz-form-control [nzErrorTip]="errorPhone">
      <input type="text" nz-input formControlName="phoneNumber" />
    </nz-form-control>
    <ng-template #errorPhone>
      <ng-container *ngIf="form.get('phoneNumber').hasError('phoneNumber')">
        Vui lòng nhập đúng định dạng số điện thoại
      </ng-container>
      <ng-container *ngIf="form.get('phoneNumber').hasError('required')">
        Vui lòng nhập số điện thoại
      </ng-container>
    </ng-template>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired>Quy mô</nz-form-label>
    <nz-form-control [nzErrorTip]="errorSize">
      <input type="number" nz-input formControlName="size" />
      <ng-template #errorSize>
        <ng-container
          *ngIf="
            form.get('size').hasError('onlyNumber') ||
            form.get('size').hasError('maxLength')
          "
        >
          Số lượng khóa học phải là số nguyên dương và không được quá 6 chữ số
        </ng-container>
        <ng-container *ngIf="form.get('size').hasError('required')">
          Vui lòng nhập quy mô
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired
      >Email người liên hệ</nz-form-label
    >
    <nz-form-control [nzErrorTip]="errorEmail">
      <input type="text" nz-input formControlName="email" />
    </nz-form-control>
    <ng-template #errorEmail>
      <ng-container *ngIf="form.get('email').hasError('required')">
        Vui lòng nhập email
      </ng-container>
      <ng-container *ngIf="form.get('email').hasError('emailRules')">
        Vui lòng nhập email đúng định dạng
      </ng-container>
    </ng-template>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>Tên miền</nz-form-label>
    <nz-form-control [nzErrorTip]="errorDomain">
      <input
        type="text"
        style="width: 70%"
        nz-input
        formControlName="domain"
      />.beautyup.asia
    </nz-form-control>
    <ng-template #errorDomain>
      <ng-container *ngIf="form.get('domain').hasError('maxLength')">
        Tên miền không được quá 10 kí tự
      </ng-container>
      <ng-container *ngIf="form.get('domain').hasError('required')">
        Vui lòng nhập tên miền
      </ng-container>
      <ng-container *ngIf="form.get('domain').hasError('exits')">
        Tên miền trùng với đối tác khác
      </ng-container>
    </ng-template>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>
      Gói sản phẩm
    </nz-form-label>
    <nz-form-control [nzErrorTip]="'Vui lòng lựa chọn gói sản phẩm'">
      <nz-select formControlName="packageId" (ngModelChange)="onChange($event)">
        <nz-option
          *ngFor="let pkg of pkgList"
          [nzLabel]="pkg.name"
          [nzValue]="pkg.id"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <div formGroupName="customPackage">
    <nz-form-item>
      <nz-form-label nzRequired>
        Tổng dung lương video khóa học tải lên
      </nz-form-label>
      <nz-form-control [nzErrorTip]="customErrs">
        <input-number
          nz-col
          [nzSpan]="12"
          formControlName="maxStorage"
          class="w-100 m-r-5"
          style="display: inline-block"
        ></input-number>
        GB
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired> Giá tiền lưu trữ hàng tháng</nz-form-label>
      <nz-form-control [nzErrorTip]="customErrs">
        <input-number
          nz-col
          [nzSpan]="12"
          formControlName="monthlyPrice"
          class="w-100 m-r-5"
          style="display: inline-block"
        ></input-number>
        VND
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>Giới hạn số lượng học viên</nz-form-label>
      <nz-form-control [nzErrorTip]="customErrs">
        <input-number
          nz-col
          [nzSpan]="12"
          formControlName="maxStudents"
          class="w-100 m-r-5"
          style="display: inline-block"
        ></input-number>
        <span>Học viên</span>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>Thời hạn</nz-form-label>
      <nz-form-control [nzErrorTip]="customErrs">
        <input-number
          nz-col
          [nzSpan]="12"
          formControlName="days"
          class="w-100 m-r-5"
          style="display: inline-block"
        ></input-number>
        Ngày
      </nz-form-control>
    </nz-form-item>
    <ng-template #customErrs>
      Trường thông tin không được để trống
    </ng-template>
  </div>

  <div class="text-right btn-step-1">
    <button (click)="close()" nz-button type="button" nzType="primary" nzGhost>
      Hủy
    </button>
    <button
      nz-button
      nzType="primary"
      type="button"
      class="ml-3"
      (click)="submit()"
    >
      Xác nhận
    </button>
  </div>
</form>
