@import url("./assets/lib/hljs/styles/atom-one-light.css");
@import url("../node_modules/ng-zorro-antd/src/ng-zorro-antd.min.css");
@import url("../node_modules/@fortawesome/fontawesome-free/css/all.min.css");
@import "./assets/scss/app.scss";
@import url("//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap");

ul {
  margin-left: 18px;
}

.header {
  height: 50px;
  background-color: #253d7f !important;

  .logo {
    width: unset;
  }

  .logo-white {
    a {
      text-align: unset;

      img:first-child {
        margin: 7px 0;
        margin-left: 23px;
      }
    }
  }
}

.side-nav {
  top: 50px;
}

.truncate-3 {
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  height: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
}

.truncate-2 {
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
}

.truncate-1 {
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  height: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ant-modal-confirm {
  width: 400px !important;
}

.login-container {
  .option {
    margin-top: 16px;
    color: #626f95;
    display: flex;
    justify-content: space-between;
  }
}

.text-bold {
  font-weight: $font-weight-bold;
}

.text-semibold {
  font-weight: $font-weight-semibold;
}

.vp-controls-wrapper {
  .share-button {
    display: none !important;
  }
}

.pointer {
  cursor: pointer;
}

.large-badge {
  &.ant-badge-not-a-wrapper:not(.ant-badge-status) {
    vertical-align: unset;
  }
  .ant-badge-status-dot {
    width: 10px;
    height: 10px;
  }
  .ant-badge-status-text {
    font-size: 15px;
  }
}

.text-normal {
  white-space: normal;
}

.ant-steps-item-description {
  font-size: 14px !important;
}

.custom-avatar {
  .media {
    flex-direction: column;
    .label-content {
      margin: 0 !important;
    }
  }
}
.pe-none {
  pointer-events: none;
}
