@import url('./assets/lib/hljs/styles/atom-one-light.css');
@import url('../node_modules/ng-zorro-antd/src/ng-zorro-antd.min.css');
@import url('../node_modules/@fortawesome/fontawesome-free/css/all.min.css');
@import './assets/scss/app.scss';

.header {
  height: 50px;
  background-color: #253D7F !important;

  .logo {
    width: unset;
  }

  .logo-white {
    a {
      text-align: unset;

      img:first-child {
        margin: 7px 0;
        margin-left: 23px;
      }
    }
  }
}

.side-nav {
  top: 50px;
}

.truncate-3{
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  height: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
}

.truncate-1{
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  height: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ant-modal-confirm {
  width: 400px !important;
}
