<form nz-form
      nzLayout="vertical"
      [formGroup]="form">
  <nz-form-item>
    <nz-form-label> Email </nz-form-label>
    <nz-form-control>
      <nz-input-group>
        <input nz-input
               formControlName="email" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Avatar</nz-form-label>
    <nz-form-control nzErrorTip="Vui lòng tải lên ảnh đại diện">
      <app-image-cropper-control formControlName="avatar"
                                 [width]="100"
                                 [height]="100"
                                 [showAction]="true">
        <div>
          <label class="label-avatar">Chọn ảnh đại diện<span class="text-danger">*</span></label>
          <p class="opacity-07 font-size-12 m-b-0">
            Kích thước đề xuất: 100x100 <br>
            Max file size: 5MB
          </p>
        </div>
      </app-image-cropper-control>
    </nz-form-control>
  </nz-form-item>

  <div class="text-right">
    <button class="m-r-10"
            (click)="hide()"
            nz-button
            nzType="primary"
            nzGhost>
      Hủy bỏ
    </button>
    <button (click)="submit()"
            nz-button
            nzType="primary"
            [nzLoading]="loading">Xác nhận</button>
  </div>
</form>