<form nz-form nzLayout="vertical" [formGroup]="pwChangeForm">
  <nz-form-item>
    <nz-form-label nzRequired> Mật khẩu cũ </nz-form-label>
    <nz-form-control nzErrorTip="Vui lòng nhập mật khẩu cũ">
      <!-- custom form errors && validation -->
      <nz-input-group [nzSuffix]="currentPwEye">
        <input
          nz-input
          [type]="currentPwVisible ? 'text' : 'password'"
          formControlName="currentPassword"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired> Mật khẩu mới </nz-form-label>
    <nz-form-control [nzErrorTip]="pwError">
      <nz-input-group [nzSuffix]="pwEye">
        <input
          nz-input
          [type]="pwVisible ? 'text' : 'password'"
          formControlName="password"
        />
      </nz-input-group>
      <ng-template #pwError let-control="$implicit">
        <ng-container *ngIf="control.errors.required">
          Vui lòng nhập mật khẩu mới
        </ng-container>
        <ng-container *ngIf="control.errors.passwordRules">
          Mật khẩu cần từ 8 ký tự, bao gồm ký tự in hoa, in thường, và số
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired> Xác nhận mật khẩu </nz-form-label>
    <nz-form-control [nzErrorTip]="confirmPwError">
      <nz-input-group [nzSuffix]="confirmPwEye">
        <input
          nz-input
          formControlName="confirmPassword"
          [type]="confirmPwVisible ? 'text' : 'password'"
        />
        <ng-template #confirmPwError let-control="$implicit">
          <ng-container *ngIf="control.hasError('required')">
            Vui lòng xác nhận mật khẩu
          </ng-container>
          <ng-container *ngIf="control.hasError('confirm')">
            Mật khẩu không khớp
          </ng-container>
        </ng-template>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <div class="text-right">
    <button class="m-r-10" (click)="close()" nz-button nzType="primary" nzGhost>
      Hủy bỏ
    </button>
    <button (click)="submit()" nz-button nzType="primary">Xác nhận</button>
  </div>
</form>

<ng-template #currentPwEye>
  <i
    (click)="currentPwVisible = !currentPwVisible"
    nz-icon
    [nzType]="currentPwVisible ? 'eye-invisible' : 'eye'"
  ></i>
</ng-template>

<ng-template #pwEye>
  <i
    (click)="pwVisible = !pwVisible"
    nz-icon
    [nzType]="pwVisible ? 'eye-invisible' : 'eye'"
  ></i>
</ng-template>

<ng-template #confirmPwEye>
  <i
    (click)="confirmPwVisible = !confirmPwVisible"
    nz-icon
    [nzType]="confirmPwVisible ? 'eye-invisible' : 'eye'"
  ></i>
</ng-template>
