.image-cropper {
  width: 82px;
  border-radius: 4px;
  background: #edf2f9;
  cursor: pointer;
  height: auto;
  .avatar {
    height: 100%;
    line-height: 82px;
    .upload {
      color: #72849a;
      cursor: pointer;
      text-align: center;
    }
    img {
      width: 100%;
    }
  }
}
.label-avatar {
  font-weight: 500;
}