<nz-card>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="media align-items-start mb-4 flex-column d-flex"
      [class.ant-form-item-has-error]="form.controls.coverImage.invalid && form.controls.coverImage.dirty">
      <app-image-cropper-control formControlName="coverImage" [width]="357" [height]="200" [showAction]="false">
      </app-image-cropper-control>
      <div *ngIf="form.controls.coverImage.invalid && form.controls.coverImage.dirty"
        class="ant-form-item-explain ant-form-item-explain-error">Vui lòng tải lên ảnh đại diện bài viết</div>
    </div>
    <div class="row">
      <div class="col-6">
        <nz-form-item>
          <nz-form-label nzSpan="6" nzRequired class="text-left">Tên bài viết</nz-form-label>
          <nz-form-control [nzErrorTip]="'Tên bài viết phải từ 1 đến 80 ký tự'">
            <input nz-input formControlName="title" placeholder="Nhập tên bài viết, tối đa 80 ký tự">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label nzSpan="6" nzRequired class="text-left">Loại bài viết</nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng chọn loại bài viết'">
            <select-advance placeholder="Chọn chuyên môn" [getOptionsFn]="blogTypes" style="min-width: 220px;"
              formControlName="typeId"></select-advance>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-form-item>
      <nz-form-label nzSpan="3" class="text-left" nzRequired>Giới thiệu ngắn</nz-form-label>
      <nz-form-control [nzErrorTip]="'Giới thiệu ngắn phải từ 1 đến 255 ký tự'">
        <textarea nz-input formControlName="description"
          placeholder="Nhập giới thiệu ngắn, tối đa 255 ký tự"></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="flex-column">
      <nz-form-label class="text-left" nzRequired>Nội dung bài viết</nz-form-label>
      <nz-form-control [nzErrorTip]="'Vui lòng nhập nội dung bài viết'">
        <angular-editor formControlName="content" [config]="editorConfig"></angular-editor>
      </nz-form-control>
    </nz-form-item>
    <div class="text-right">
      <button nz-button nzType="primary" type="button" nzGhost class="mr-3" [routerLink]="['../']">Quay lại</button>
      <button nz-button nzType="primary" type="submit" [nzLoading]="isLoading">Lưu lại</button>
    </div>
  </form>
</nz-card>